{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "stori.es API",
    "description": "The stori.es API provides a programmatic interface to the stori.es platform.",
    "contact": {
      "name": "API Support",
      "email": "info@stori.es",
      "url": "http://www.stori.es/support"
    },
    "license": {
      "name": "stori.es Software as a Service Agreement",
      "url": "http://www.stori.es/software-as-a-service-agreement"
    },
    "termsOfService": "http://www.stori.es/terms-of-service"
  },
  "host": "stori.es",
  "basePath": "/api",
  "schemes": [
    "https"
  ],
  "tags": [
    {
      "name": "Collections",
      "description": "sets of stories"
    },
    {
      "name": "Documents",
      "description": "content and forms composed of blocks"
    },
    {
      "name": "Organizations",
      "description": "contexts containing stori.es objects"
    },
    {
      "name": "Permissions",
      "description": "licenses and authorities"
    },
    {
      "name": "Profiles",
      "description": "organization-specific user profiles"
    },
    {
      "name": "Questionnaires",
      "description": "forms and their associated stories"
    },
    {
      "name": "Stories",
      "description": "sets of documents"
    },
    {
      "name": "Themes",
      "description": "layout and styling"
    },
    {
      "name": "Users",
      "description": "authorized users with organization-specific profiles"
    }
  ],
  "paths": {
    "/collections": {
      "post": {
        "summary": "Create a new collection",
        "description": "",
        "tags": [ "Collections" ],
        "operationId": "create_collection",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "description": "The new collection to be created",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CollectionPost"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Resource successfully created",
            "schema": {
              "$ref": "#/definitions/CollectionResponse"
            }
          },
          "400": {
            "description": "Invalid input",
            "schema": {
              "$ref": "#/definitions/CollectionResponse"
            }
          },
          "401": {
            "description": "Not authorized to create the requested resource",
            "schema": {
              "$ref": "#/definitions/CollectionResponse"
            }
          },
          "503": {
            "description": "Service is currently unavailable",
            "schema": {
              "$ref": "#/definitions/CollectionResponse"
            }
          }
        }
      }
    },
    "/collections/{collection_id}": {
      "get": {
        "summary": "Retrieve a specific collection",
        "description": "",
        "tags": [ "Collections" ],
        "operationId": "get_collection",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "description": "The ID of the collection to retrieve",
            "name": "collection_id",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource successfully retrieved",
            "schema": {
              "$ref": "#/definitions/CollectionResponse"
            }
          },
          "401": {
            "description": "Not authorized to access the requested resource",
            "schema": {
              "$ref": "#/definitions/CollectionResponse"
            }
          },
          "404": {
            "description": "Resource not found",
            "schema": {
              "$ref": "#/definitions/CollectionResponse"
            }
          },
          "503": {
            "description": "Service is currently unavailable",
            "schema": {
              "$ref": "#/definitions/CollectionResponse"
            }
          }
        }
      },
      "delete": {
        "summary": "Deletes a collection",
        "description": "",
        "tags": [ "Collections" ],
        "operationId": "delete_collection",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "description": "The ID of the collection to delete",
            "name": "collection_id",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "204": {
            "description": "Resource successfully deleted",
            "schema": {
              "$ref": "#/definitions/CollectionResponse"
            }
          },
          "401": {
            "description": "Not authorized to delete the requested resource",
            "schema": {
              "$ref": "#/definitions/CollectionResponse"
            }
          },
          "404": {
            "description": "Resource not found",
            "schema": {
              "$ref": "#/definitions/CollectionResponse"
            }
          },
          "503": {
            "description": "Service is currently unavailable",
            "schema": {
              "$ref": "#/definitions/CollectionResponse"
            }
          }
        }
      },
      "put": {
        "summary": "Updates a collection",
        "description": "",
        "tags": [ "Collections" ],
        "operationId": "update_collection",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "description": "The ID of the collection to update",
            "name": "collection_id",
            "required": true,
            "type": "integer"
          },
          {
            "in": "body",
            "name": "body",
            "description": "The modified collection",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Collection"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource successfully updated",
            "schema": {
              "$ref": "#/definitions/CollectionResponse"
            }
          },
          "400": {
            "description": "Invalid input",
            "schema": {
              "$ref": "#/definitions/CollectionResponse"
            }
          },
          "401": {
            "description": "Not authorized to update the requested resource",
            "schema": {
              "$ref": "#/definitions/CollectionResponse"
            }
          },
          "404": {
            "description": "Resource not found",
            "schema": {
              "$ref": "#/definitions/CollectionResponse"
            }
          },
          "503": {
            "description": "Service is currently unavailable",
            "schema": {
              "$ref": "#/definitions/CollectionResponse"
            }
          }
        }
      }
    },
    "/documents": {
      "post": {
        "summary": "Create a new document",
        "description": "",
        "tags": [ "Documents" ],
        "operationId": "create_document",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "The new document to be created",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DocumentPost"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Resource successfully created",
            "schema": {
              "$ref": "#/definitions/DocumentResponse"
            }
          },
          "400": {
            "description": "Invalid input",
            "schema": {
              "$ref": "#/definitions/DocumentResponse"
            }
          },
          "401": {
            "description": "Not authorized to create the requested resource",
            "schema": {
              "$ref": "#/definitions/DocumentResponse"
            }
          },
          "503": {
            "description": "Service is currently unavailable",
            "schema": {
              "$ref": "#/definitions/DocumentResponse"
            }
          }
        }
      }
    },
    "/documents/{document_id}": {
      "get": {
        "summary": "Retrieve a specific document",
        "description": "",
        "tags": [ "Documents" ],
        "operationId": "get_document",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "document_id",
            "description": "The ID of the document to retrieve",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource successfully retrieved",
            "schema": {
              "$ref": "#/definitions/DocumentResponse"
            }
          },
          "401": {
            "description": "Not authorized to access the requested resource",
            "schema": {
              "$ref": "#/definitions/DocumentResponse"
            }
          },
          "404": {
            "description": "Resource not found",
            "schema": {
              "$ref": "#/definitions/DocumentResponse"
            }
          },
          "503": {
            "description": "Service is currently unavailable",
            "schema": {
              "$ref": "#/definitions/DocumentResponse"
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a document",
        "description": "",
        "tags": [ "Documents" ],
        "operationId": "delete_document",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "description": "The ID of the document to delete",
            "name": "document_id",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "204": {
            "description": "Resource successfully deleted",
            "schema": {
              "$ref": "#/definitions/DocumentResponse"
            }
          },
          "401": {
            "description": "Not authorized to delete the requested resource",
            "schema": {
              "$ref": "#/definitions/DocumentResponse"
            }
          },
          "404": {
            "description": "Resource not found",
            "schema": {
              "$ref": "#/definitions/DocumentResponse"
            }
          },
          "503": {
            "description": "Service is currently unavailable",
            "schema": {
              "$ref": "#/definitions/DocumentResponse"
            }
          }
        }
      },
      "put": {
        "summary": "Update a document",
        "description": "",
        "tags": [ "Documents" ],
        "operationId": "update_document",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "document_id",
            "description": "The ID of the document to update",
            "required": true,
            "type": "integer"
          },
          {
            "in": "body",
            "name": "body",
            "description": "The modified document",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Document"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource successfully updated",
            "schema": {
              "$ref": "#/definitions/DocumentResponse"
            }
          },
          "400": {
            "description": "Invalid input",
            "schema": {
              "$ref": "#/definitions/DocumentResponse"
            }
          },
          "401": {
            "description": "Not authorized to update the requested resource",
            "schema": {
              "$ref": "#/definitions/DocumentResponse"
            }
          },
          "404": {
            "description": "Resource not found",
            "schema": {
              "$ref": "#/definitions/DocumentResponse"
            }
          },
          "503": {
            "description": "Service is currently unavailable",
            "schema": {
              "$ref": "#/definitions/DocumentResponse"
            }
          }
        }
      }
    },
    "/organizations": {
      "post": {
        "summary": "Create a new organization",
        "description": "",
        "tags": [ "Organizations" ],
        "operationId": "create_organization",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "description": "The new organization to be created",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OrganizationPost"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Resource successfully created",
            "schema": {
              "$ref": "#/definitions/OrganizationResponse"
            }
          },
          "400": {
            "description": "Invalid input",
            "schema": {
              "$ref": "#/definitions/OrganizationResponse"
            }
          },
          "401": {
            "description": "Not authorized to create the requested resource",
            "schema": {
              "$ref": "#/definitions/OrganizationResponse"
            }
          },
          "503": {
            "description": "Service is currently unavailable",
            "schema": {
              "$ref": "#/definitions/OrganizationResponse"
            }
          }
        }
      }
    },
    "/organizations/{organization_id}": {
      "get": {
        "summary": "Retrieve a specific organization",
        "description": "",
        "tags": [ "Organizations" ],
        "operationId": "get_organization",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "description": "The ID of the organization to retrieve",
            "name": "organization_id",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource successfully retrieved",
            "schema": {
              "$ref": "#/definitions/OrganizationResponse"
            }
          },
          "401": {
            "description": "Not authorized to access the requested resource",
            "schema": {
              "$ref": "#/definitions/OrganizationResponse"
            }
          },
          "404": {
            "description": "Resource not found",
            "schema": {
              "$ref": "#/definitions/OrganizationResponse"
            }
          },
          "503": {
            "description": "Service is currently unavailable",
            "schema": {
              "$ref": "#/definitions/OrganizationResponse"
            }
          }
        }
      },
      "delete": {
        "summary": "Deletes an organization",
        "description": "",
        "tags": [ "Organizations" ],
        "operationId": "delete_organization",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "description": "The ID of the organization to delete",
            "name": "organization_id",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "204": {
            "description": "Resource successfully deleted",
            "schema": {
              "$ref": "#/definitions/OrganizationResponse"
            }
          },
          "401": {
            "description": "Not authorized to delete the requested resource",
            "schema": {
              "$ref": "#/definitions/OrganizationResponse"
            }
          },
          "404": {
            "description": "Resource not found",
            "schema": {
              "$ref": "#/definitions/OrganizationResponse"
            }
          },
          "503": {
            "description": "Service is currently unavailable",
            "schema": {
              "$ref": "#/definitions/OrganizationResponse"
            }
          }
        }
      },
      "put": {
        "summary": "Updates an organization",
        "description": "",
        "tags": [ "Organizations" ],
        "operationId": "update_organization",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "description": "The ID of the organization to update",
            "name": "organization_id",
            "required": true,
            "type": "integer"
          },
          {
            "in": "body",
            "name": "body",
            "description": "The modified organization",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Organization"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource successfully updated",
            "schema": {
              "$ref": "#/definitions/OrganizationResponse"
            }
          },
          "400": {
            "description": "Invalid input",
            "schema": {
              "$ref": "#/definitions/OrganizationResponse"
            }
          },
          "401": {
            "description": "Not authorized to update the requested resource",
            "schema": {
              "$ref": "#/definitions/OrganizationResponse"
            }
          },
          "404": {
            "description": "Resource not found",
            "schema": {
              "$ref": "#/definitions/OrganizationResponse"
            }
          },
          "503": {
            "description": "Service is currently unavailable",
            "schema": {
              "$ref": "#/definitions/OrganizationResponse"
            }
          }
        }
      }
    },
    "/permissions": {
      "post": {
        "summary": "Create a new permission",
        "description": "",
        "tags": [ "Permissions" ],
        "operationId": "create_permission",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "description": "The new permission to be created",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PermissionPost"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Resource successfully created",
            "schema": {
              "$ref": "#/definitions/PermissionResponse"
            }
          },
          "400": {
            "description": "Invalid input",
            "schema": {
              "$ref": "#/definitions/PermissionResponse"
            }
          },
          "401": {
            "description": "Not authorized to create the requested resource",
            "schema": {
              "$ref": "#/definitions/PermissionResponse"
            }
          },
          "503": {
            "description": "Service is currently unavailable",
            "schema": {
              "$ref": "#/definitions/PermissionResponse"
            }
          }
        }
      }
    },
    "/permissions/{permission_id}": {
      "get": {
        "summary": "Retrieve a specific permission",
        "description": "",
        "tags": [ "Permissions" ],
        "operationId": "get_permission",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "description": "The ID of the permission to retrieve",
            "name": "permission_id",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource successfully retrieved",
            "schema": {
              "$ref": "#/definitions/PermissionResponse"
            }
          },
          "401": {
            "description": "Not authorized to access the requested resource",
            "schema": {
              "$ref": "#/definitions/PermissionResponse"
            }
          },
          "404": {
            "description": "Resource not found",
            "schema": {
              "$ref": "#/definitions/PermissionResponse"
            }
          },
          "503": {
            "description": "Service is currently unavailable",
            "schema": {
              "$ref": "#/definitions/PermissionResponse"
            }
          }
        }
      },
      "delete": {
        "summary": "Deletes a permission",
        "description": "",
        "tags": [ "Permissions" ],
        "operationId": "delete_permission",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "description": "The ID of the permission to delete",
            "name": "permission_id",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "204": {
            "description": "Resource successfully deleted",
            "schema": {
              "$ref": "#/definitions/PermissionResponse"
            }
          },
          "401": {
            "description": "Not authorized to delete the requested resource",
            "schema": {
              "$ref": "#/definitions/PermissionResponse"
            }
          },
          "404": {
            "description": "Resource not found",
            "schema": {
              "$ref": "#/definitions/PermissionResponse"
            }
          },
          "503": {
            "description": "Service is currently unavailable",
            "schema": {
              "$ref": "#/definitions/PermissionResponse"
            }
          }
        }
      },
      "put": {
        "summary": "Updates a permission",
        "description": "",
        "tags": [ "Permissions" ],
        "operationId": "update_permission",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "description": "The ID of the permission to update",
            "name": "permission_id",
            "required": true,
            "type": "integer"
          },
          {
            "in": "body",
            "name": "body",
            "description": "The modified permission",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Permission"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource successfully updated",
            "schema": {
              "$ref": "#/definitions/PermissionResponse"
            }
          },
          "400": {
            "description": "Invalid input",
            "schema": {
              "$ref": "#/definitions/PermissionResponse"
            }
          },
          "401": {
            "description": "Not authorized to update the requested resource",
            "schema": {
              "$ref": "#/definitions/PermissionResponse"
            }
          },
          "404": {
            "description": "Resource not found",
            "schema": {
              "$ref": "#/definitions/PermissionResponse"
            }
          },
          "503": {
            "description": "Service is currently unavailable",
            "schema": {
              "$ref": "#/definitions/PermissionResponse"
            }
          }
        }
      }
    },
    "/profiles": {
      "post": {
        "summary": "Create a new profile",
        "description": "",
        "tags": [ "Profiles" ],
        "operationId": "create_profile",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "description": "The new profile to be created",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProfilePost"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Resource successfully created",
            "schema": {
              "$ref": "#/definitions/ProfileResponse"
            }
          },
          "400": {
            "description": "Invalid input",
            "schema": {
              "$ref": "#/definitions/ProfileResponse"
            }
          },
          "401": {
            "description": "Not authorized to create the requested resource",
            "schema": {
              "$ref": "#/definitions/ProfileResponse"
            }
          },
          "503": {
            "description": "Service is currently unavailable",
            "schema": {
              "$ref": "#/definitions/ProfileResponse"
            }
          }
        }
      }
    },
    "/profiles/{profile_id}": {
      "get": {
        "summary": "Retrieve a specific profile",
        "description": "",
        "tags": [ "Profiles" ],
        "operationId": "get_profile",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "description": "The ID of the profile to retrieve",
            "name": "profile_id",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource successfully retrieved",
            "schema": {
              "$ref": "#/definitions/ProfileResponse"
            }
          },
          "401": {
            "description": "Not authorized to access the requested resource",
            "schema": {
              "$ref": "#/definitions/ProfileResponse"
            }
          },
          "404": {
            "description": "Resource not found",
            "schema": {
              "$ref": "#/definitions/ProfileResponse"
            }
          },
          "503": {
            "description": "Service is currently unavailable",
            "schema": {
              "$ref": "#/definitions/ProfileResponse"
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a profile",
        "description": "",
        "tags": [ "Profiles" ],
        "operationId": "delete_profile",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "description": "The ID of the profile to delete",
            "name": "profile_id",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "204": {
            "description": "Resource successfully deleted",
            "schema": {
              "$ref": "#/definitions/ProfileResponse"
            }
          },
          "400": {
            "description": "Invalid input",
            "schema": {
              "$ref": "#/definitions/ProfileResponse"
            }
          },
          "401": {
            "description": "Not authorized to delete the requested resource",
            "schema": {
              "$ref": "#/definitions/ProfileResponse"
            }
          },
          "404": {
            "description": "Resource not found",
            "schema": {
              "$ref": "#/definitions/ProfileResponse"
            }
          },
          "503": {
            "description": "Service is currently unavailable",
            "schema": {
              "$ref": "#/definitions/ProfileResponse"
            }
          }
        }
      },
      "put": {
        "summary": "Update a profile",
        "description": "",
        "tags": [ "Profiles" ],
        "operationId": "update_profile",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "description": "The ID of the profile to update",
            "name": "profile_id",
            "required": true,
            "type": "integer"
          },
          {
            "in": "body",
            "name": "body",
            "description": "The modified profile",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Profile"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource successfully updated",
            "schema": {
              "$ref": "#/definitions/ProfileResponse"
            }
          },
          "401": {
            "description": "Not authorized to update the requested resource",
            "schema": {
              "$ref": "#/definitions/ProfileResponse"
            }
          },
          "404": {
            "description": "Resource not found",
            "schema": {
              "$ref": "#/definitions/ProfileResponse"
            }
          },
          "503": {
            "description": "Service is currently unavailable",
            "schema": {
              "$ref": "#/definitions/ProfileResponse"
            }
          }
        }
      }
    },
    "/questionnaires": {
      "post": {
        "summary": "Create a new questionnaire",
        "description": "",
        "tags": [ "Questionnaires" ],
        "operationId": "create_questionnaire",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "description": "The new questionnaire to be created",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/QuestionnairePost"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Resource successfully created",
            "schema": {
              "$ref": "#/definitions/QuestionnaireResponse"
            }
          },
          "400": {
            "description": "Invalid input",
            "schema": {
              "$ref": "#/definitions/QuestionnaireResponse"
            }
          },
          "401": {
            "description": "Not authorized to create the requested resource",
            "schema": {
              "$ref": "#/definitions/QuestionnaireResponse"
            }
          },
          "503": {
            "description": "Service is currently unavailable",
            "schema": {
              "$ref": "#/definitions/QuestionnaireResponse"
            }
          }
        }
      }
    },
    "/questionnaires/{questionnaire_id}": {
      "get": {
        "summary": "Retrieve a specific questionnaire",
        "description": "",
        "tags": [ "Questionnaires" ],
        "operationId": "get_questionnaire",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "description": "The ID of the questionnaire to retrieve",
            "name": "questionnaire_id",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource successfully retrieved",
            "schema": {
              "$ref": "#/definitions/QuestionnaireResponse"
            }
          },
          "401": {
            "description": "Not authorized to access the requested resource",
            "schema": {
              "$ref": "#/definitions/QuestionnaireResponse"
            }
          },
          "404": {
            "description": "Resource not found",
            "schema": {
              "$ref": "#/definitions/QuestionnaireResponse"
            }
          },
          "503": {
            "description": "Service is currently unavailable",
            "schema": {
              "$ref": "#/definitions/QuestionnaireResponse"
            }
          }
        }
      },
      "delete": {
        "summary": "Deletes a questionnaire",
        "description": "",
        "tags": [ "Questionnaires" ],
        "operationId": "delete_questionnaire",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "description": "The ID of the questionnaire to delete",
            "name": "questionnaire_id",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "204": {
            "description": "Resource successfully deleted",
            "schema": {
              "$ref": "#/definitions/QuestionnaireResponse"
            }
          },
          "401": {
            "description": "Not authorized to delete the requested resource",
            "schema": {
              "$ref": "#/definitions/QuestionnaireResponse"
            }
          },
          "404": {
            "description": "Resource not found",
            "schema": {
              "$ref": "#/definitions/QuestionnaireResponse"
            }
          },
          "503": {
            "description": "Service is currently unavailable",
            "schema": {
              "$ref": "#/definitions/QuestionnaireResponse"
            }
          }
        }
      },
      "put": {
        "summary": "Updates a questionnaire",
        "description": "",
        "tags": [ "Questionnaires" ],
        "operationId": "update_questionnaire",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "description": "The ID of the questionnaire to update",
            "name": "questionnaire_id",
            "required": true,
            "type": "integer"
          },
          {
            "in": "body",
            "name": "body",
            "description": "The modified questionnaire",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Questionnaire"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource successfully updated",
            "schema": {
              "$ref": "#/definitions/QuestionnaireResponse"
            }
          },
          "400": {
            "description": "Invalid input",
            "schema": {
              "$ref": "#/definitions/QuestionnaireResponse"
            }
          },
          "401": {
            "description": "Not authorized to update the requested resource",
            "schema": {
              "$ref": "#/definitions/QuestionnaireResponse"
            }
          },
          "404": {
            "description": "Resource not found",
            "schema": {
              "$ref": "#/definitions/QuestionnaireResponse"
            }
          },
          "503": {
            "description": "Service is currently unavailable",
            "schema": {
              "$ref": "#/definitions/QuestionnaireResponse"
            }
          }
        }
      }
    },
    "/stories": {
      "post": {
        "summary": "Create a new story",
        "description": "",
        "tags": [ "Stories" ],
        "operationId": "create_story",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "description": "The new story to be created",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StoryPost"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Resource successfully created",
            "schema": {
              "$ref": "#/definitions/StoryResponse"
            }
          },
          "400": {
            "description": "Invalid input",
            "schema": {
              "$ref": "#/definitions/StoryResponse"
            }
          },
          "401": {
            "description": "Not authorized to create the requested resource",
            "schema": {
              "$ref": "#/definitions/StoryResponse"
            }
          },
          "503": {
            "description": "Service is currently unavailable",
            "schema": {
              "$ref": "#/definitions/StoryResponse"
            }
          }
        }
      }
    },
    "/stories/{story_id}": {
      "get": {
        "summary": "Retrieve a specific story",
        "description": "",
        "tags": [ "Stories" ],
        "operationId": "get_story",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "description": "The ID of the story to retrieve",
            "name": "story_id",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource successfully retrieved",
            "schema": {
              "$ref": "#/definitions/StoryResponse"
            }
          },
          "401": {
            "description": "Not authorized to access the requested resource",
            "schema": {
              "$ref": "#/definitions/StoryResponse"
            }
          },
          "404": {
            "description": "Resource not found",
            "schema": {
              "$ref": "#/definitions/StoryResponse"
            }
          },
          "503": {
            "description": "Service is currently unavailable",
            "schema": {
              "$ref": "#/definitions/StoryResponse"
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a story",
        "description": "",
        "tags": [ "Stories" ],
        "operationId": "delete_story",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "description": "The ID of the story to delete",
            "name": "story_id",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "204": {
            "description": "Resource successfully deleted",
            "schema": {
              "$ref": "#/definitions/StoryResponse"
            }
          },
          "401": {
            "description": "Not authorized to delete the requested resource",
            "schema": {
              "$ref": "#/definitions/StoryResponse"
            }
          },
          "404": {
            "description": "Resource not found",
            "schema": {
              "$ref": "#/definitions/StoryResponse"
            }
          },
          "503": {
            "description": "Service is currently unavailable",
            "schema": {
              "$ref": "#/definitions/StoryResponse"
            }
          }
        }
      },
      "put": {
        "summary": "Update a story",
        "description": "",
        "tags": [ "Stories" ],
        "operationId": "update_story",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "description": "The ID of the story to update",
            "name": "story_id",
            "required": true,
            "type": "integer"
          },
          {
            "in": "body",
            "name": "body",
            "description": "The modified story",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Story"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource successfully updated",
            "schema": {
              "$ref": "#/definitions/StoryResponse"
            }
          },
          "400": {
            "description": "Invalid input",
            "schema": {
              "$ref": "#/definitions/StoryResponse"
            }
          },
          "401": {
            "description": "Not authorized to update the requested resource",
            "schema": {
              "$ref": "#/definitions/StoryResponse"
            }
          },
          "404": {
            "description": "Resource not found",
            "schema": {
              "$ref": "#/definitions/StoryResponse"
            }
          },
          "503": {
            "description": "Service is currently unavailable",
            "schema": {
              "$ref": "#/definitions/StoryResponse"
            }
          }
        }
      }
    },
    "/themes/{theme_id}": {
      "get": {
        "summary": "Retrieve a specific theme",
        "description": "",
        "tags": [ "Themes" ],
        "operationId": "get_theme",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "description": "The ID of the theme to retrieve",
            "name": "theme_id",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource successfully retrieved",
            "schema": {
              "$ref": "#/definitions/ThemeResponse"
            }
          },
          "401": {
            "description": "Not authorized to access the requested resource",
            "schema": {
              "$ref": "#/definitions/ThemeResponse"
            }
          },
          "404": {
            "description": "Resource not found",
            "schema": {
              "$ref": "#/definitions/ThemeResponse"
            }
          },
          "503": {
            "description": "Service is currently unavailable",
            "schema": {
              "$ref": "#/definitions/ThemeResponse"
            }
          }
        }
      },
      "put": {
        "summary": "Updates a theme",
        "description": "",
        "tags": [ "Themes" ],
        "operationId": "update_theme",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "description": "The ID of the theme to update",
            "name": "theme_id",
            "required": true,
            "type": "integer"
          },
          {
            "in": "body",
            "name": "body",
            "description": "The modified theme",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Theme"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource successfully updated",
            "schema": {
              "$ref": "#/definitions/ThemeResponse"
            }
          },
          "400": {
            "description": "Invalid input",
            "schema": {
              "$ref": "#/definitions/ThemeResponse"
            }
          },
          "401": {
            "description": "Not authorized to update the requested resource",
            "schema": {
              "$ref": "#/definitions/ThemeResponse"
            }
          },
          "404": {
            "description": "Resource not found",
            "schema": {
              "$ref": "#/definitions/ThemeResponse"
            }
          },
          "503": {
            "description": "Service is currently unavailable",
            "schema": {
              "$ref": "#/definitions/ThemeResponse"
            }
          }
        }
      }
    },
    "/users": {
      "post": {
        "summary": "Create a new user",
        "description": "",
        "tags": [ "Users" ],
        "operationId": "create_user",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "description": "The new user to be created",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UserPost"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Resource successfully created",
            "schema": {
              "$ref": "#/definitions/UserResponse"
            }
          },
          "400": {
            "description": "Invalid input",
            "schema": {
              "$ref": "#/definitions/UserResponse"
            }
          },
          "401": {
            "description": "Not authorized to create the requested resource",
            "schema": {
              "$ref": "#/definitions/UserResponse"
            }
          },
          "503": {
            "description": "Service is currently unavailable",
            "schema": {
              "$ref": "#/definitions/UserResponse"
            }
          }
        }
      }
    },
    "/users/{user_id}": {
      "get": {
        "summary": "Retrieve a specific user",
        "description": "",
        "tags": [ "Users" ],
        "operationId": "get_user",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "description": "The ID of the user to retrieve",
            "name": "user_id",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource successfully retrieved",
            "schema": {
              "$ref": "#/definitions/UserResponse"
            }
          },
          "401": {
            "description": "Not authorized to access the requested resource",
            "schema": {
              "$ref": "#/definitions/UserResponse"
            }
          },
          "404": {
            "description": "Resource not found",
            "schema": {
              "$ref": "#/definitions/UserResponse"
            }
          },
          "503": {
            "description": "Service is currently unavailable",
            "schema": {
              "$ref": "#/definitions/UserResponse"
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a user",
        "description": "",
        "tags": [ "Users" ],
        "operationId": "delete_user",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "description": "The ID of the user to delete",
            "name": "user_id",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "204": {
            "description": "Resource successfully deleted",
            "schema": {
              "$ref": "#/definitions/UserResponse"
            }
          },
          "401": {
            "description": "Not authorized to delete the requested resource",
            "schema": {
              "$ref": "#/definitions/UserResponse"
            }
          },
          "404": {
            "description": "Resource not found",
            "schema": {
              "$ref": "#/definitions/UserResponse"
            }
          },
          "503": {
            "description": "Service is currently unavailable",
            "schema": {
              "$ref": "#/definitions/UserResponse"
            }
          }
        }
      },
      "put": {
        "summary": "Update a user",
        "description": "",
        "tags": [ "Users" ],
        "operationId": "update_user",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "description": "The ID of the user to update",
            "name": "user_id",
            "required": true,
            "type": "integer"
          },
          {
            "in": "body",
            "name": "body",
            "description": "The modified user",
            "required": true,
            "schema": {
              "$ref": "#/definitions/User"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource successfully updated",
            "schema": {
              "$ref": "#/definitions/UserResponse"
            }
          },
          "400": {
            "description": "Invalid input",
            "schema": {
              "$ref": "#/definitions/UserResponse"
            }
          },
          "401": {
            "description": "Not authorized to update the requested resource",
            "schema": {
              "$ref": "#/definitions/UserResponse"
            }
          },
          "404": {
            "description": "Resource not found",
            "schema": {
              "$ref": "#/definitions/UserResponse"
            }
          },
          "503": {
            "description": "Service is currently unavailable",
            "schema": {
              "$ref": "#/definitions/UserResponse"
            }
          }
        }
      }
    },
    "/users/self": {
      "get": {
        "summary": "Retrieve the current user",
        "description": "This endpoint requires the API user to be currently signed into the stori.es administrative dashboard for authentication purposes",
        "tags": [ "Users" ],
        "operationId": "get_self",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Resource successfully retrieved",
            "schema": {
              "$ref": "#/definitions/UserResponse"
            }
          },
          "401": {
            "description": "Not authorized to access the requested resource",
            "schema": {
              "$ref": "#/definitions/UserResponse"
            }
          },
          "404": {
            "description": "Resource not found",
            "schema": {
              "$ref": "#/definitions/UserResponse"
            }
          },
          "503": {
            "description": "Service is currently unavailable",
            "schema": {
              "$ref": "#/definitions/UserResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Block": {
      "type": "object",
      "description": "The representation of a block on the stori.es platform",
      "required": [
        "block_type"
      ],
      "properties": {
        "block_type": {
          "type": "string",
          "description": "The type of block this entity represents",
          "enum": [
            "AttachmentsQuestionBlock",
            "AudioContentBlock",
            "ButtonBlock",
            "CityQuestionBlock",
            "CollectionContentBlock",
            "DateQuestionBlock",
            "DocumentContentBlock",
            "EmailFormatQuestionBlock",
            "EmailQuestionBlock",
            "FirstNameQuestionBlock",
            "ImageContentBlock",
            "LastNameQuestionBlock",
            "MultipleChoiceQuestionBlock",
            "PermissionBlock",
            "PhoneQuestionBlock",
            "RatingQuestionBlock",
            "StateQuestionBlock",
            "StoryAskQuestionBlock",
            "StoryContentBlock",
            "StoryTitleQuestionBlock",
            "StreetAddressQuestionBlock",
            "SubscriptionQuestionBlock",
            "TextBoxQuestionBlock",
            "TextContentBlock",
            "VideoContentBlock",
            "ZipCodeQuestionBlock"
          ]
        },
        "labels": {
          "$ref": "#/definitions/BlockLabels",
          "description": "The string labels associated with this block"
        },
        "format": {
          "type": "string",
          "description": "The format of the block",
          "enum": [
            "single_line",
            "multiple_lines_plain_text",
            "multiple_lines_rich_text",
            "single_select_radio",
            "single_select_dropdown",
            "multi_select_list",
            "multi_select_checkbox",
            "numbers",
            "stars"
          ]
        },
        "default_value": {
          "type": "string",
          "description": "The default value of this block"
        },
        "value": {
          "type": "string",
          "description": "The current value of this block"
        },
        "options": {
          "type": "array",
          "description": "The options associated with this block",
          "items": {
            "$ref": "#/definitions/BlockOption"
          }
        },
        "interaction": {
          "type": "string",
          "description": "The interaction style of the block",
          "enum": [
            "discrete",
            "half"
          ]
        },
        "styles": {
          "$ref": "#/definitions/BlockStyles",
          "description": "The styles associated with this block"
        },
        "constraints": {
          "$ref": "#/definitions/BlockConstraints",
          "description": "The constraints associated with this block"
        },
        "audio": {
          "$ref": "#/definitions/AudioResourceLink",
          "description": "The audio resource associated with this block"
        },
        "collection": {
          "$ref": "#/definitions/CollectionResourceLink",
          "description": "The stori.es collection associated with this block"
        },
        "document": {
          "$ref": "#/definitions/DocumentResourceLink",
          "description": "The document resource associated with this block"
        },
        "image": {
          "$ref": "#/definitions/ImageResourceLink",
          "description": "The image associated with this block"
        },
        "permission": {
          "$ref": "#/definitions/PermissionResourceLink",
          "description": "The stori.es permission associated with this block"
        },
        "story": {
          "$ref": "#/definitions/StoryResourceLink",
          "description": "The stori.es story associated with this block"
        },
        "video": {
          "$ref": "#/definitions/VideoResourceLink",
          "description": "The video resource associated with this block"
        },
        "next_document": {
          "$ref": "#/definitions/ResourceLink",
          "description": "Metadata describing the next document associated with this entity"
        }
      }
    },
    "BlockConstraints": {
      "type": "object",
      "description": "The constraints associated with a block on the stori.es platform",
      "properties": {
        "required": {
          "type": "boolean",
          "description": "Boolean indicating a response to this question block is required"
        },
        "minimum_length": {
          "type": "integer",
          "description": "The minimum length of this block's value"
        },
        "maximum_length": {
          "type": "integer",
          "description": "The maximum length of this block's value"
        }
      }
    },
    "BlockLabels": {
      "type": "object",
      "description": "The labels associated with a block on the stori.es platform",
      "properties": {
        "primary": {
          "type": "string",
          "description": "The primary label of this block",
          "maximum": 255
        },
        "help": {
          "type": "string",
          "description": "The help text associated with this block",
          "maximum": 512
        },
        "value": {
          "type": "string",
          "description": "The label of this block's value",
          "enum": [
            "Home",
            "Mobile",
            "Work",
            "Other"
          ]
        },
        "left": {
          "type": "string",
          "description": "The label of this block's left side",
          "maximum": 25
        },
        "right": {
          "type": "string",
          "description": "The label of this block's right side",
          "maximum": 25
        }
      }
    },
    "BlockOption": {
      "type": "object",
      "description": "The representation of an option associated with a block on the stori.es platform",
      "required": [
        "id",
        "value",
        "selected"
      ],
      "properties": {
        "id": {
          "type": "string",
          "description": "The ID of the option",
          "maximum": 255
        },
        "value": {
          "type": "string",
          "description": "The display value of the option",
          "maximum": 255
        },
        "selected": {
          "type": "boolean",
          "description": "Boolean indicating this option is selected"
        }
      }
    },
    "BlockStyles": {
      "type": "object",
      "description": "The styles associated with a block on the stori.es platform",
      "properties": {
        "horizontal_position": {
          "type": "string",
          "description": "The horizontal position of the entity",
          "enum": [
            "left",
            "center",
            "right"
          ]
        },
        "size": {
          "type": "string",
          "description": "The relative size of the entity",
          "enum": [
            "small",
            "medium",
            "large"
          ]
        }
      }
    },
    "AudioResourceLink": {
      "type": "object",
      "description": "The representation of an audio resource associated with a block on the stori.es platform",
      "required": [
        "href"
      ],
      "properties": {
        "href": {
          "type": "string",
          "description": "The URL of the entity",
          "maximum": 250
        },
        "title": {
          "type": "string",
          "description": "The title of the entity",
          "maximum": 250
        },
        "caption": {
          "type": "string",
          "description": "The text caption of the entity",
          "maximum": 250
        }
      }
    },
    "CollectionResourceLink": {
      "type": "object",
      "description": "The representation of a collection associated with a block on the stori.es platform",
      "required": [
        "href"
      ],
      "properties": {
        "href": {
          "type": "string",
          "description": "The URL of the entity",
          "maximum": 250
        }
      }
    },
    "DocumentResourceLink": {
      "type": "object",
      "description": "The representation of an external document resource associated with a block on the stori.es platform",
      "required": [
        "href"
      ],
      "properties": {
        "href": {
          "type": "string",
          "description": "The URL of the entity",
          "maximum": 250
        },
        "title": {
          "type": "string",
          "description": "The title of the entity",
          "maximum": 250
        }
      }
    },
    "ImageResourceLink": {
      "type": "object",
      "description": "The representation of an image resource associated with a block on the stori.es platform",
      "required": [
        "href",
        "horizontal_position",
        "size"
      ],
      "properties": {
        "href": {
          "type": "string",
          "description": "The URL of the entity",
          "maximum": 250
        },
        "horizontal_position": {
          "type": "string",
          "description": "The horizontal position of the entity",
          "enum": [
            "left",
            "center",
            "right"
          ]
        },
        "size": {
          "type": "string",
          "description": "The relative size of the entity",
          "enum": [
            "small",
            "medium",
            "large"
          ]
        },
        "caption": {
          "type": "string",
          "description": "The text caption of the entity"
        },
        "alt_text": {
          "type": "string",
          "description": "The alternative text for the entity (e.g., for screen readers)",
          "maximum": 250
        }
      }
    },
    "PermissionResourceLink": {
      "type": "object",
      "description": "The representation of a permission associated with a block on the stori.es platform",
      "required": [
        "href"
      ],
      "properties": {
        "href": {
          "type": "string",
          "description": "The URL of the entity",
          "maximum": 250
        }
      }
    },
    "StoryResourceLink": {
      "type": "object",
      "description": "The representation of a story associated with a block on the stori.es platform",
      "required": [
        "href"
      ],
      "properties": {
        "href": {
          "type": "string",
          "description": "The URL of the entity",
          "maximum": 250
        }
      }
    },
    "VideoResourceLink": {
      "type": "object",
      "description": "The representation of a video resource associated with a block on the stori.es platform",
      "required": [
        "href"
      ],
      "properties": {
        "href": {
          "type": "string",
          "description": "The URL of the entity",
          "maximum": 250
        },
        "title": {
          "type": "string",
          "description": "The title of the entity",
          "maximum": 250
        },
        "caption": {
          "type": "string",
          "description": "The text caption of the entity",
          "maximum": 250
        }
      }
    },
    "Collection": {
      "type": "object",
      "description": "The representation of a collection on the stori.es platform",
      "required": [
        "id",
        "title",
        "links",
        "created_on",
        "updated_on",
        "is_archived"
      ],
      "properties": {
        "id": {
          "type": "integer",
          "description": "The unique ID for this entity"
        },
        "title": {
          "type": "string",
          "description": "The title of this entity"
        },
        "links": {
          "$ref": "#/definitions/CollectionResourceLinks",
          "description": "Metadata describing resources associated with this entity"
        },
        "tags": {
          "type": "array",
          "description": "Tags associated with this entity",
          "items": {
            "type": "string",
            "maximum": 45
          }
        },
        "created_on": {
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "description": "The creation date and time for this entity, normalized to UTC (see <a href=\"http://tools.ietf.org/html/rfc3339/\" title=\"Date and Time on the Internet: Timestamps\">RFC3339</a>)"
        },
        "updated_on": {
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "description": "The most recent modification date and time for this entity, normalized to UTC (see <a href=\"http://tools.ietf.org/html/rfc3339/\" title=\"Date and Time on the Internet: Timestamps\">RFC3339</a>)"
        },
        "is_archived": {
          "type": "boolean",
          "readOnly": true,
          "description": "Status (true == archived; false == enabled)"
        }
      }
    },
    "CollectionPost": {
      "type": "object",
      "description": "The representation of a new collection to be added to the stori.es platform",
      "required": [
        "title"
      ],
      "properties": {
        "title": {
          "type": "string",
          "description": "The title of this entity"
        },
        "story_ids": {
          "type": "array",
          "description": "The IDs of stories associated with this entity",
          "items": {
            "type": "integer"
          }
        },
        "questionnaire_ids": {
          "type": "array",
          "description": "The IDs of source questionnaires associated with this entity",
          "items": {
            "type": "integer"
          }
        },
        "tags": {
          "type": "array",
          "description": "Tags associated with this entity",
          "items": {
            "type": "string",
            "maximum": 45
          }
        }
      }
    },
    "CollectionResourceLinks": {
      "type": "object",
      "description": "Metadata describing associated resources for collections",
      "required": [
        "content",
        "stories",
        "creator",
        "owner"
      ],
      "properties": {
        "content": {
          "$ref": "#/definitions/ResourceLink",
          "description": "Metadata describing the content document associated with this entity"
        },
        "stories": {
          "type": "array",
          "description": "Metadata describing stories associated with this entity",
          "items": {
            "$ref": "#/definitions/ResourceLink"
          }
        },
        "questionnaires": {
          "type": "array",
          "description": "Metadata describing source questionnaires associated with this entity",
          "items": {
            "$ref": "#/definitions/ResourceLink"
          }
        },
        "notes": {
          "type": "array",
          "description": "Metadata describing note documents associated with this entity",
          "items": {
            "$ref": "#/definitions/ResourceLink"
          }
        },
        "attachments": {
          "type": "array",
          "description": "Metadata describing attachment documents associated with this entity",
          "items": {
            "$ref": "#/definitions/ResourceLink"
          }
        },
        "creator": {
          "$ref": "#/definitions/ResourceLink",
          "description": "Metadata describing the creator of this entity"
        },
        "owner": {
          "$ref": "#/definitions/ResourceLink",
          "description": "Metadata describing the owner of this entity"
        },
        "administrators": {
          "type": "array",
          "description": "Metadata describing the administrators of this entity",
          "items": {
            "$ref": "#/definitions/ResourceLink"
          }
        }
      }
    },
    "CollectionResponse": {
      "type": "object",
      "description": "The API response format for collection resources on the stori.es platform; follows the <a href=\"http://jsonapi.org/\" title=\"JSON API Standard\">JSON API</a> standard",
      "required": [
        "meta",
        "collections"
      ],
      "properties": {
        "meta": {
          "$ref": "#/definitions/Metadata",
          "description": "Metadata describing this response"
        },
        "collections": {
          "type": "array",
          "description": "Array of requested collection resources",
          "items": {
            "$ref": "#/definitions/Collection"
          }
        }
      }
    },
    "Contact": {
      "type": "object",
      "description": "The representation of a contact associated with this entity",
      "required": [
        "contact_type",
        "title"
      ],
      "properties": {
        "contact_type": {
          "type": "string",
          "description": "The type of contact",
          "enum": [
            "EmailContact",
            "PhoneContact",
            "GeolocationContact",
            "SocialContact"
          ]
        },
        "title": {
          "type": "string",
          "description": "The title of this contact"
        },
        "value": {
          "type": "string",
          "description": "The value of this contact"
        },
        "location": {
          "$ref": "#/definitions/Location",
          "description": "The geographic location associated with this contact"
        }
      }
    },
    "Document": {
      "type": "object",
      "description": "The representation of a document on the stori.es platform",
      "required": [
        "id",
        "document_type",
        "locale",
        "byline",
        "blocks",
        "links",
        "created_on",
        "updated_on",
        "publication_status",
        "is_archived"
      ],
      "properties": {
        "id": {
          "type": "integer",
          "description": "The unique ID for this entity"
        },
        "document_type": {
          "type": "string",
          "description": "The type of document",
          "enum": [
            "AttachmentDocument",
            "ContentDocument",
            "FormDocument",
            "NoteDocument",
            "ResponseDocument"
          ]
        },
        "locale": {
          "type": "string",
          "description": "The locale of the document",
          "enum": [
            "en-US",
            "es-US"
          ]
        },
        "title": {
          "type": "string",
          "description": "The title of this entity"
        },
        "byline": {
          "type": "string",
          "description": "The byline of this entity; defaults to \"[Owner Given Name] of [Owner City], [Owner State]\""
        },
        "blocks": {
          "type": "array",
          "description": "The array of blocks that compose this document",
          "items": {
            "$ref": "#/definitions/Block"
          }
        },
        "links": {
          "$ref": "#/definitions/DocumentResourceLinks",
          "description": "Metadata describing resources associated with this entity"
        },
        "created_on": {
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "description": "The creation date and time for this entity, normalized to UTC (see <a href=\"http://tools.ietf.org/html/rfc3339/\" title=\"Date and Time on the Internet: Timestamps\">RFC3339</a>)"
        },
        "updated_on": {
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "description": "The most recent modification date and time for this entity, normalized to UTC (see <a href=\"http://tools.ietf.org/html/rfc3339/\" title=\"Date and Time on the Internet: Timestamps\">RFC3339</a>)"
        },
        "publication_status": {
          "type": "string",
          "description": "The current publication status of this entity",
          "enum": [
            "draft",
            "published"
          ]
        },
        "published_on": {
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "description": "The initial publication date and time for this entity, normalized to UTC (see <a href=\"http://tools.ietf.org/html/rfc3339/\" title=\"Date and Time on the Internet: Timestamps\">RFC3339</a>)"
        },
        "is_archived": {
          "type": "boolean",
          "readOnly": true,
          "description": "Status (true == archived; false == enabled)"
        }
      }
    },
    "DocumentPost": {
      "type": "object",
      "description": "The representation of a new document to be added to the stori.es platform",
      "required": [
        "document_type"
      ],
      "properties": {
        "document_type": {
          "type": "string",
          "description": "The type of document",
          "enum": [
            "AttachmentDocument",
            "ContentDocument",
            "FormDocument",
            "NoteDocument",
            "ResponseDocument"
          ]
        },
        "title": {
          "type": "string",
          "description": "The title of this entity"
        },
        "byline": {
          "type": "string",
          "description": "The byline of this entity; defaults to [Owner Given Name] of [Owner City], [Owner State]"
        },
        "blocks": {
          "type": "array",
          "description": "The set of blocks that compose this document",
          "items": {
            "$ref": "#/definitions/Block"
          }
        },
        "entity_id": {
          "type": "integer",
          "description": "The ID of the entity this document is associated with"
        },
        "theme_id": {
          "type": "integer",
          "description": "The ID of the theme associated with this entity"
        },
        "permission_id": {
          "type": "integer",
          "description": "The ID of the permission associated with this entity"
        }
      }
    },
    "DocumentResourceLinks": {
      "type": "object",
      "description": "Metadata describing associated resources for documents",
      "required": [
        "entity",
        "theme",
        "creator",
        "owner"
      ],
      "properties": {
        "entity": {
          "$ref": "#/definitions/ResourceLink",
          "description": "Metadata describing the entity this document is associated with"
        },
        "source": {
          "$ref": "#/definitions/ResourceLink",
          "description": "Metadata describing the source this document is associated with (e.g.: an attachment's URL; a response's form document)"
        },
        "theme": {
          "$ref": "#/definitions/ResourceLink",
          "description": "Metadata describing the theme associated with this entity"
        },
        "permission": {
          "$ref": "#/definitions/ResourceLink",
          "description": "Metadata describing the permission associated with this entity"
        },
        "creator": {
          "$ref": "#/definitions/ResourceLink",
          "description": "Metadata describing the creator of this entity"
        },
        "owner": {
          "$ref": "#/definitions/ResourceLink",
          "description": "Metadata describing the owner of this entity"
        },
        "administrators": {
          "type": "array",
          "description": "Metadata describing the administrators of this entity",
          "items": {
            "$ref": "#/definitions/ResourceLink"
          }
        }
      }
    },
    "DocumentResponse": {
      "type": "object",
      "description": "The API response format for document resources on the stori.es platform; follows the <a href=\"http://jsonapi.org/\" title=\"JSON API Standard\">JSON API</a> standard",
      "required": [
        "meta",
        "documents"
      ],
      "properties": {
        "meta": {
          "$ref": "#/definitions/Metadata",
          "description": "Metadata describing this response"
        },
        "documents": {
          "type": "array",
          "description": "Array of requested document resources",
          "items": {
            "$ref": "#/definitions/Document"
          }
        }
      }
    },
    "Location": {
      "type": "object",
      "description": "The representation of a geographic location",
      "properties": {
        "street_address_1": {
          "type": "string",
          "description": "Street address (first line)"
        },
        "street_address_2": {
          "type": "string",
          "description": "Street address (second line)"
        },
        "city": {
          "type": "string",
          "description": "City"
        },
        "state": {
          "type": "string",
          "description": "State"
        },
        "country": {
          "type": "string",
          "description": "Country"
        },
        "postal_code": {
          "type": "string",
          "description": "Postal Code"
        },
        "latitude": {
          "type": "string",
          "description": "Latitude"
        },
        "longitude": {
          "type": "string",
          "description": "Longitude"
        }
      }
    },
    "Message": {
      "type": "object",
      "description": "A message generated by a request",
      "required": [
        "summary",
        "message_code"
      ],
      "properties": {
        "target": {
          "type": "string",
          "description": "Target of this message (field, object, etc.)"
        },
        "summary": {
          "type": "string",
          "description": "Message summary"
        },
        "message_code": {
          "type": "string",
          "description": "stori.es internal message code"
        },
        "detail": {
          "$ref": "#/definitions/ResourceLink",
          "description": "URL for message details"
        }
      }
    },
    "Metadata": {
      "type": "object",
      "description": "Metadata about this response",
      "required": [
        "self",
        "http_code",
        "status"
      ],
      "properties": {
        "self": {
          "type": "string",
          "description": "Full request URL"
        },
        "status": {
          "type": "string",
          "description": "High-level status of response",
          "enum": [
            "success",
            "fail",
            "error"
          ]
        },
        "http_code": {
          "type": "integer",
          "description": "HTTP response status code"
        },
        "messages": {
          "type": "array",
          "description": "Array of messages generated by request",
          "items": {
            "$ref": "#/definitions/Message"
          }
        },
        "pagination": {
          "$ref": "#/definitions/Pagination",
          "description": "Pagination details for this response"
        }
      }
    },
    "Navigation": {
      "type": "object",
      "description": "Navigation details for this response",
      "properties": {
        "first": {
          "type": "string",
          "description": "URL for first set of results"
        },
        "prev": {
          "type": "string",
          "description": "URL for previous set of results"
        },
        "next": {
          "type": "string",
          "description": "URL for next set of results"
        },
        "last": {
          "type": "string",
          "description": "URL for last set of results"
        }
      }
    },
    "Organization": {
      "type": "object",
      "description": "The representation of an organization on the stori.es platform",
      "required": [
        "id",
        "name",
        "links",
        "created_on",
        "updated_on",
        "is_archived"
      ],
      "properties": {
        "id": {
          "type": "integer",
          "description": "The unique ID for this entity"
        },
        "name": {
          "type": "string",
          "description": "The organization name (maximum 128 characters)",
          "maximum": 128
        },
        "short_name": {
          "type": "string",
          "description": "The short form of the organization name (maximum 15 characters)",
          "maximum": 15
        },
        "contacts": {
          "type": "array",
          "description": "Contacts associated with this entity",
          "items": {
            "$ref": "#/definitions/Contact"
          }
        },
        "links": {
          "$ref": "#/definitions/OrganizationResourceLinks",
          "description": "Metadata describing resources associated with this entity"
        },
        "created_on": {
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "description": "The creation date and time for this entity, normalized to UTC (see <a href=\"http://tools.ietf.org/html/rfc3339/\" title=\"Date and Time on the Internet: Timestamps\">RFC3339</a>)"
        },
        "updated_on": {
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "description": "The most recent modification date and time for this entity, normalized to UTC (see <a href=\"http://tools.ietf.org/html/rfc3339/\" title=\"Date and Time on the Internet: Timestamps\">RFC3339</a>)"
        },
        "is_archived": {
          "type": "boolean",
          "readOnly": true,
          "description": "Status (true == archived; false == enabled)"
        }
      }
    },
    "OrganizationPost": {
      "type": "object",
      "description": "The representation of a new organization to be added to the stori.es platform",
      "required": [
        "name"
      ],
      "properties": {
        "name": {
          "type": "string",
          "description": "The organization name (maximum 128 characters)",
          "maximum": 128
        },
        "short_name": {
          "type": "string",
          "description": "The short form of the organization name (maximum 15 characters)",
          "maximum": 15
        },
        "contacts": {
          "type": "array",
          "description": "Contacts associated with this entity",
          "items": {
            "$ref": "#/definitions/Contact"
          }
        },
        "profile_ids": {
          "type": "array",
          "description": "The IDs of user profiles associated with this entity",
          "items": {
            "type": "integer"
          }
        },
        "questionnaire_ids": {
          "type": "array",
          "description": "The IDs of questionnaires associated with this entity",
          "items": {
            "type": "integer"
          }
        },
        "collection_ids": {
          "type": "array",
          "description": "The IDs of collections associated with this entity",
          "items": {
            "type": "integer"
          }
        },
        "permission_ids": {
          "type": "array",
          "description": "The IDs of permissions associated with this entity",
          "items": {
            "type": "integer"
          }
        },
        "default_permission_id": {
          "type": "integer",
          "description": "The ID of the default permission associated with this entity"
        },
        "theme_ids": {
          "type": "array",
          "description": "The IDs of themes associated with this entity",
          "items": {
            "type": "integer"
          }
        },
        "default_theme_id": {
          "type": "integer",
          "description": "The ID of the default theme associated with this entity"
        }
      }
    },
    "OrganizationResourceLinks": {
      "type": "object",
      "description": "Metadata describing associated resources for organizations",
      "required": [
        "themes",
        "default_theme",
        "creator",
        "owner"
      ],
      "properties": {
        "profiles": {
          "type": "array",
          "description": "Metadata describing user profiles associated with this entity",
          "items": {
            "$ref": "#/definitions/ResourceLink"
          }
        },
        "questionnaires": {
          "type": "array",
          "description": "Metadata describing questionnaires associated with this entity",
          "items": {
            "$ref": "#/definitions/ResourceLink"
          }
        },
        "collections": {
          "type": "array",
          "description": "Metadata describing collections associated with this entity",
          "items": {
            "$ref": "#/definitions/ResourceLink"
          }
        },
        "permissions": {
          "type": "array",
          "description": "Metadata describing permissions associated with this entity",
          "items": {
            "$ref": "#/definitions/ResourceLink"
          }
        },
        "default_permission": {
          "$ref": "#/definitions/ResourceLink",
          "description": "Metadata describing the default permission associated with this entity"
        },
        "themes": {
          "type": "array",
          "description": "Metadata describing themes associated with this entity",
          "items": {
            "$ref": "#/definitions/ResourceLink"
          }
        },
        "default_theme": {
          "$ref": "#/definitions/ResourceLink",
          "description": "Metadata describing the default theme associated with this entity"
        },
        "notes": {
          "type": "array",
          "description": "Metadata describing note documents associated with this entity",
          "items": {
            "$ref": "#/definitions/ResourceLink"
          }
        },
        "attachments": {
          "type": "array",
          "description": "Metadata describing attachment documents associated with this entity",
          "items": {
            "$ref": "#/definitions/ResourceLink"
          }
        },
        "creator": {
          "$ref": "#/definitions/ResourceLink",
          "description": "Metadata describing the creator of this entity"
        },
        "owner": {
          "$ref": "#/definitions/ResourceLink",
          "description": "Metadata describing the owner of this entity"
        },
        "administrators": {
          "type": "array",
          "description": "Metadata describing the administrators of this entity",
          "items": {
            "$ref": "#/definitions/ResourceLink"
          }
        }
      }
    },
    "OrganizationResponse": {
      "type": "object",
      "description": "The API response format for organization resources on the stori.es platform; follows the <a href=\"http://jsonapi.org/\" title=\"JSON API Standard\">JSON API</a> standard",
      "required": [
        "meta",
        "organizations"
      ],
      "properties": {
        "meta": {
          "$ref": "#/definitions/Metadata",
          "description": "Metadata describing this response"
        },
        "organizations": {
          "type": "array",
          "description": "Array of requested organization resources",
          "items": {
            "$ref": "#/definitions/Organization"
          }
        }
      }
    },
    "Pagination": {
      "type": "object",
      "description": "Pagination details for this response",
      "properties": {
        "limit": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum number of results to return (default = 8, maximum = 50)",
          "minimum": 1,
          "maximum": 50,
          "default": 8
        },
        "offset": {
          "type": "integer",
          "format": "int32",
          "description": "Starting index, 0-based (default = 0)",
          "minimum": 0,
          "default": 0
        },
        "sort": {
          "description": "Sort order, indexed by resource",
          "$ref": "#/definitions/Sort"
        },
        "navigation": {
          "description": "Navigation details for this response",
          "$ref": "#/definitions/Navigation"
        }
      }
    },
    "Permission": {
      "type": "object",
      "description": "The representation of a permission on the stori.es platform",
      "required": [
        "id",
        "links",
        "created_on",
        "updated_on",
        "is_archived"
      ],
      "properties": {
        "id": {
          "type": "integer",
          "description": "The unique ID for this entity"
        },
        "title": {
          "type": "string",
          "description": "The title of this entity"
        },
        "links": {
          "$ref": "#/definitions/PermissionResourceLinks",
          "description": "Metadata describing resources associated with this entity"
        },
        "created_on": {
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "description": "The creation date and time for this entity, normalized to UTC (see <a href=\"http://tools.ietf.org/html/rfc3339/\" title=\"Date and Time on the Internet: Timestamps\">RFC3339</a>)"
        },
        "updated_on": {
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "description": "The most recent modification date and time for this entity, normalized to UTC (see <a href=\"http://tools.ietf.org/html/rfc3339/\" title=\"Date and Time on the Internet: Timestamps\">RFC3339</a>)"
        },
        "is_archived": {
          "type": "boolean",
          "readOnly": true,
          "description": "Status (true == archived; false == enabled)"
        }
      }
    },
    "PermissionPost": {
      "type": "object",
      "description": "The representation of a new permission to be added to the stori.es platform",
      "required": [
        "organization_id"
      ],
      "properties": {
        "title": {
          "type": "string",
          "description": "The title of this entity"
        },
        "organization_id": {
          "type": "integer",
          "description": "The ID of the organization using this permission"
        },
        "entity_ids": {
          "type": "array",
          "description": "The IDs of entities associated with this permission",
          "items": {
            "type": "integer"
          }
        }
      }
    },
    "PermissionResourceLinks": {
      "type": "object",
      "description": "Metadata describing associated resources for permissions",
      "required": [
        "organization",
        "content",
        "creator",
        "owner"
      ],
      "properties": {
        "organization": {
          "$ref": "#/definitions/ResourceLink",
          "description": "Metadata describing the organization using this permission"
        },
        "entities": {
          "type": "array",
          "description": "Metadata describing entities associated with this permission",
          "items": {
            "$ref": "#/definitions/ResourceLink"
          }
        },
        "content": {
          "$ref": "#/definitions/ResourceLink",
          "description": "Metadata describing the content document associated with this entity"
        },
        "creator": {
          "$ref": "#/definitions/ResourceLink",
          "description": "Metadata describing the creator of this entity"
        },
        "owner": {
          "$ref": "#/definitions/ResourceLink",
          "description": "Metadata describing the owner of this entity"
        },
        "administrators": {
          "type": "array",
          "description": "Metadata describing the administrators of this entity",
          "items": {
            "$ref": "#/definitions/ResourceLink"
          }
        }
      }
    },
    "PermissionResponse": {
      "type": "object",
      "description": "The API response format for permission resources on the stori.es platform; follows the <a href=\"http://jsonapi.org/\" title=\"JSON API Standard\">JSON API</a> standard",
      "required": [
        "meta",
        "permissions"
      ],
      "properties": {
        "meta": {
          "$ref": "#/definitions/Metadata",
          "description": "Metadata describing this response"
        },
        "permissions": {
          "type": "array",
          "description": "Array of requested permission resources",
          "items": {
            "$ref": "#/definitions/Permission"
          }
        }
      }
    },
    "Profile": {
      "type": "object",
      "description": "The representation of a profile on the stori.es platform",
      "required": [
        "id",
        "links",
        "created_on",
        "updated_on",
        "is_archived"
      ],
      "properties": {
        "id": {
          "type": "integer",
          "description": "The unique ID for this entity"
        },
        "given_name": {
          "type": "string",
          "description": "The first name associated with this profile",
          "maximum": 255
        },
        "surname": {
          "type": "string",
          "description": "The last name associated with this profile",
          "maximum": 255
        },
        "contacts": {
          "type": "array",
          "description": "Contacts associated with this entity",
          "items": {
            "$ref": "#/definitions/Contact"
          }
        },
        "links": {
          "$ref": "#/definitions/ProfileResourceLinks",
          "description": "Metadata describing resources associated with this entity"
        },
        "created_on": {
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "description": "The creation date and time for this entity, normalized to UTC (see <a href=\"http://tools.ietf.org/html/rfc3339/\" title=\"Date and Time on the Internet: Timestamps\">RFC3339</a>)"
        },
        "updated_on": {
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "description": "The most recent modification date and time for this entity, normalized to UTC (see <a href=\"http://tools.ietf.org/html/rfc3339/\" title=\"Date and Time on the Internet: Timestamps\">RFC3339</a>)"
        },
        "is_archived": {
          "type": "boolean",
          "readOnly": true,
          "description": "Status (true == archived; false == enabled)"
        }
      }
    },
    "ProfilePost": {
      "type": "object",
      "description": "The representation of a new profile to be added to the stori.es platform",
      "required": [
        "organization_id"
      ],
      "properties": {
        "organization_id": {
          "type": "integer",
          "description": "The ID of the organization associated with this entity"
        },
        "user_id": {
          "type": "integer",
          "description": "The ID of the user associated with this entity"
        },
        "given_name": {
          "type": "string",
          "description": "The first name associated with this profile",
          "maximum": 255
        },
        "surname": {
          "type": "string",
          "description": "The last name associated with this profile",
          "maximum": 255
        },
        "contacts": {
          "type": "array",
          "description": "Contacts associated with this entity",
          "items": {
            "$ref": "#/definitions/Contact"
          }
        },
        "story_ids": {
          "type": "array",
          "description": "The IDs of stories associated with this entity",
          "items": {
            "type": "integer"
          }
        }
      }
    },
    "ProfileResourceLinks": {
      "type": "object",
      "description": "Metadata describing associated resources for profiles",
      "required": [
        "organization",
        "creator",
        "owner"
      ],
      "properties": {
        "organization": {
          "$ref": "#/definitions/ResourceLink",
          "description": "The organization this user profile is associated with"
        },
        "user": {
          "$ref": "#/definitions/ResourceLink",
          "description": "The user this organization-specific profile is associated with"
        },
        "stories": {
          "type": "array",
          "description": "Metadata describing stories associated with this entity",
          "items": {
            "$ref": "#/definitions/ResourceLink"
          }
        },
        "notes": {
          "type": "array",
          "description": "Metadata describing note documents associated with this entity",
          "items": {
            "$ref": "#/definitions/ResourceLink"
          }
        },
        "creator": {
          "$ref": "#/definitions/ResourceLink",
          "description": "Metadata describing the creator of this entity"
        },
        "owner": {
          "$ref": "#/definitions/ResourceLink",
          "description": "Metadata describing the owner of this entity"
        },
        "administrators": {
          "type": "array",
          "description": "Metadata describing the administrators of this entity",
          "items": {
            "$ref": "#/definitions/ResourceLink"
          }
        }
      }
    },
    "ProfileResponse": {
      "type": "object",
      "description": "The API response format for profile resources on the stori.es platform; follows the <a href=\"http://jsonapi.org/\" title=\"JSON API Standard\">JSON API</a> standard",
      "required": [
        "meta",
        "profiles"
      ],
      "properties": {
        "meta": {
          "$ref": "#/definitions/Metadata",
          "description": "Metadata describing this response"
        },
        "profiles": {
          "type": "array",
          "description": "Array of requested profile resources",
          "items": {
            "$ref": "#/definitions/Profile"
          }
        }
      }
    },
    "Questionnaire": {
      "type": "object",
      "description": "The representation of a questionnaire on the stori.es platform",
      "required": [
        "id",
        "title",
        "links",
        "created_on",
        "updated_on",
        "is_archived"
      ],
      "properties": {
        "id": {
          "type": "integer",
          "description": "The unique ID for this entity"
        },
        "title": {
          "type": "string",
          "description": "The title of this entity"
        },
        "links": {
          "$ref": "#/definitions/QuestionnaireResourceLinks",
          "description": "Metadata describing resources associated with this entity"
        },
        "tags": {
          "type": "array",
          "description": "Tags associated with this entity",
          "items": {
            "type": "string",
            "maximum": 45
          }
        },
        "story_tags": {
          "type": "array",
          "description": "Tags automatically added to stories associated with this entity",
          "items": {
            "type": "string",
            "maximum": 45
          }
        },
        "created_on": {
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "description": "The creation date and time for this entity, normalized to UTC (see <a href=\"http://tools.ietf.org/html/rfc3339/\" title=\"Date and Time on the Internet: Timestamps\">RFC3339</a>)"
        },
        "updated_on": {
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "description": "The most recent modification date and time for this entity, normalized to UTC (see <a href=\"http://tools.ietf.org/html/rfc3339/\" title=\"Date and Time on the Internet: Timestamps\">RFC3339</a>)"
        },
        "is_archived": {
          "type": "boolean",
          "readOnly": true,
          "description": "Status (true == archived; false == enabled)"
        }
      }
    },
    "QuestionnairePost": {
[...]
