{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "stori.es API",
    "description": "The stori.es API provides a programmatic interface to the stori.es platform.",
    "contact": {
      "name": "API Support",
      "email": "info@stori.es",
      "url": "http://www.stori.es/support"
    },
    "license": {
      "name": "stori.es Software as a Service Agreement",
      "url": "http://www.stori.es/software-as-a-service-agreement"
    },
    "termsOfService": "http://www.stori.es/terms-of-service"
  },
  "host": "stori.es",
  "basePath": "/api",
  "schemes": [
    "https"
  ],
  "paths": {
    "/blocks": {
      "post": {
        "summary": "Create a new block",
        "description": "",
        "responses": {
          "201": {
            "description": "Resource successfully created",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          },
          "400": {
            "description": "Invalid input",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          },
          "401": {
            "description": "Not authorized to create the requested resource",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          },
          "503": {
            "description": "Service is currently unavailable",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          }
        },
        "operationId": "create_block",
        "consumes": [
          "application/vnd.api+json"
        ],
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [
          {
            "in": "body",
            "description": "The new block to be created",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BlockPost"
            }
          }
        ]
      }
    },
    "/blocks/{block_id}": {
      "get": {
        "summary": "Retrieve a specific block",
        "description": "",
        "responses": {
          "200": {
            "description": "Resource successfully retrieved",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          },
          "401": {
            "description": "Not authorized to access the requested resource",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          },
          "404": {
            "description": "Resource not found",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          },
          "503": {
            "description": "Service is currently unavailable",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          }
        },
        "operationId": "get_block",
        "consumes": [
          "application/vnd.api+json"
        ],
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [
          {
            "in": "path",
            "description": "The ID of the block to retrieve",
            "name": "block_id",
            "required": true,
            "type": "string"
          }
        ]
      },
      "delete": {
        "summary": "Delete a block",
        "description": "",
        "responses": {
          "204": {
            "description": "Resource successfully deleted",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          },
          "401": {
            "description": "Not authorized to delete the requested resource",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          },
          "404": {
            "description": "Resource not found",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          },
          "503": {
            "description": "Service is currently unavailable",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          }
        },
        "operationId": "delete_block",
        "consumes": [
          "application/vnd.api+json"
        ],
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [
          {
            "in": "path",
            "description": "The ID of the block to delete",
            "name": "block_id",
            "required": true,
            "type": "string"
          }
        ]
      },
      "patch": {
        "description": "",
        "summary": "Update a block",
        "responses": {
          "200": {
            "description": "Resource successfully updated",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          },
          "400": {
            "description": "Invalid input",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          },
          "401": {
            "description": "Not authorized to update the requested resource",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          },
          "404": {
            "description": "Resource not found",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          },
          "503": {
            "description": "Service is currently unavailable",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          }
        },
        "operationId": "update_block",
        "consumes": [
          "application/vnd.api+json"
        ],
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [
          {
            "in": "path",
            "description": "The ID of the block to update",
            "name": "block_id",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "description": "Requested modifications in JSON Patch format (see <a href=\"http://tools.ietf.org/html/rfc6902\" title=\"RFC6902 - JSON Patch\">RFC6902</a> and <a href=\"http://jsonapi.org/format/#updating-a-document\" title=\"JSON API - Updating a Document (PATCH)\">JSON API</a>)",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PatchOperations"
            }
          }
        ]
      }
    }
  },
  "definitions": {
    "Sort": {
      "id": "Sort",
      "description": "Sort order details indexed by resource name",
      "required": [
        "blocks"
      ],
      "properties": {
        "blocks": {
          "type": "array",
          "description": "Sort order for block resources",
          "uniqueItems": true,
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Navigation": {
      "id": "Navigation",
      "description": "Navigation details for this response",
      "properties": {
        "first": {
          "type": "string",
          "description": "URL for first set of results"
        },
        "prev": {
          "type": "string",
          "description": "URL for previous set of results"
        },
        "next": {
          "type": "string",
          "description": "URL for next set of results"
        },
        "last": {
          "type": "string",
          "description": "URL for last set of results"
        }
      }
    },
    "Pagination": {
      "id": "Pagination",
      "description": "Pagination details for this response",
      "properties": {
        "limit": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum number of results to return (default = 25, maximum = 50)",
          "minimum": 1,
          "maximum": 50,
          "default": 25
        },
        "offset": {
          "type": "integer",
          "format": "int32",
          "description": "Starting index, 0-based (default = 0)",
          "minimum": 0,
          "defaultValue": 0
        },
        "sort": {
          "description": "Sort order, indexed by resource",
          "$ref": "#/definitions/Sort"
        },
        "navigation": {
          "description": "Navigation details for this response",
          "$ref": "#/definitions/Navigation"
        }
      }
    },
    "Message": {
      "id": "Message",
      "description": "A message generated by a request",
      "required": [
        "summary",
        "message_code"
      ],
      "properties": {
        "target": {
          "type": "string",
          "description": "Target of this message (field, object, etc.)"
        },
        "summary": {
          "type": "string",
          "description": "Message summary"
        },
        "message_code": {
          "type": "string",
          "description": "stori.es internal message code"
        },
        "detail_url": {
          "type": "string",
          "description": "URL for message details"
        }
      }
    },
    "Metadata": {
      "id": "Metadata",
      "description": "Metadata about this response",
      "required": [
        "self",
        "http_code",
        "status"
      ],
      "properties": {
        "self": {
          "type": "string",
          "description": "Full request URL"
        },
        "status": {
          "type": "string",
          "description": "High-level status of response",
          "enum": [
            "success",
            "fail",
            "error"
          ]
        },
        "http_code": {
          "type": "integer",
          "description": "HTTP response status code"
        },
        "messages": {
          "type": "array",
          "description": "Array of messages generated by request",
          "items": {
            "$ref": "#/definitions/Message"
          }
        },
        "pagination": {
          "$ref": "#/definitions/Pagination",
          "description": "Pagination details for this response"
        }
      }
    },
    "ResourceLink": {
      "id": "ResourceLink",
      "description": "Metadata describing a resource",
      "required": [
        "href"
      ],
      "properties": {
        "href": {
          "type": "string",
          "description": "The URL of the resource"
        }
      }
    },
    "ResourceLinks": {
      "id": "ResourceLinks",
      "description": "Metadata describing associated resources",
      "required": [
        "entities",
        "creator",
        "owner"
      ],
      "properties": {
        "entities": {
          "type": "array",
          "description": "Metadata describing entities this block is associated with description: (e.g., content documents, response documents)",
          "items": {
            "$ref": "#/definitions/ResourceLink"
          }
        },
        "creator": {
          "$ref": "#/definitions/ResourceLink",
          "description": "Metadata describing the creator of this entity"
        },
        "owner": {
          "$ref": "#/definitions/ResourceLink",
          "description": "Metadata describing the owner of this entity"
        },
        "administrators": {
          "type": "array",
          "description": "Metadata describing the administrators of this entity",
          "items": {
            "$ref": "#/definitions/ResourceLink"
          }
        }
      }
    },
    "Block": {
      "id": "Block",
      "description": "The representation of a block on the stori.es platform",
      "required": [
        "id",
        "path_segment",
        "block_type",
        "is_question",
        "links",
        "created_on",
        "updated_on"
      ],
      "properties": {
        "id": {
          "type": "string",
          "description": "The unique ID for this entity; format: /blocks/[block path segment]"
        },
        "path_segment": {
          "type": "string",
          "description": "The URL path segment uniquely identifying this block; defaults to URL-encoded title; generated if undefined"
        },
        "title": {
          "type": "string",
          "description": "The title of this entity"
        },
        "block_type": {
          "type": "string",
          "description": "The type of block this entity represents",
          "enum": [
            "/block_types/text",
            "/block_types/document",
            "/block_types/image",
            "/block_types/audio",
            "/block_types/video",
            "/block_types/collection",
            "/block_types/permission",
            "/block_types/story_title",
            "/block_types/story_ask",
            "/block_types/first_name",
            "/block_types/last_name",
            "/block_types/email",
            "/block_types/phone",
            "/block_types/street_address",
            "/block_types/city",
            "/block_types/state",
            "/block_types/zip_code",
            "/block_types/updates_opt_in",
            "/block_types/preferred_email_format",
            "/block_types/text_field",
            "/block_types/text_area",
            "/block_types/single_choice",
            "/block_types/multiple_choice",
            "/block_types/date",
            "/block_types/attachments"
          ]
        },
        "value": {
          "type": "string",
          "description": "The current value of this block, a JSON data structure unique to each block type (TBD)"
        },
        "is_question": {
          "type": "boolean",
          "description": "Boolean flag indicating this block solicits responses"
        },
        "links": {
          "$ref": "#/definitions/ResourceLinks",
          "description": "Metadata describing resources associated with this entity"
        },
        "created_on": {
          "type": "string",
          "format": "date-time",
          "description": "The creation date and time for this entity, normalized to UTC (see [RFC3339](http://tools.ietf.org/html/rfc3339))"
        },
        "updated_on": {
          "type": "string",
          "format": "date-time",
          "description": "The most recent modification date and time for this entity, normalized to UTC (see [RFC3339](http://tools.ietf.org/html/rfc3339))"
        }
      }
    },
    "ApiResponse": {
      "id": "ApiResponse",
      "description": "The standard API response format for the stori.es platform; follows the [JSON API](http://jsonapi.org) standard",
      "required": [
        "meta",
        "blocks"
      ],
      "properties": {
        "meta": {
          "$ref": "#/definitions/Metadata",
          "description": "Metadata describing this response"
        },
        "blocks": {
          "type": "array",
          "description": "Array of requested block resources",
          "items": {
            "$ref": "#/definitions/Block"
          }
        }
      }
    },
    "BlockPost": {
      "id": "BlockPost",
      "description": "The representation of a new block to be added to the stori.es platform",
      "required": [
        "block_type",
        "entity_ids"
      ],
      "properties": {
        "path_segment": {
          "type": "string",
          "description": "The URL path segment uniquely identifying this block; defaults to URL-encoded title; generated if undefined"
        },
        "title": {
          "type": "string",
          "description": "The title of this entity"
        },
        "block_type": {
          "type": "string",
          "description": "The type of block this entity represents",
          "enum": [
            "/block_types/text",
            "/block_types/document",
            "/block_types/image",
            "/block_types/audio",
            "/block_types/video",
            "/block_types/collection",
            "/block_types/permission",
            "/block_types/story_title",
            "/block_types/story_ask",
            "/block_types/first_name",
            "/block_types/last_name",
            "/block_types/email",
            "/block_types/phone",
            "/block_types/street_address",
            "/block_types/city",
            "/block_types/state",
            "/block_types/zip_code",
            "/block_types/updates_opt_in",
            "/block_types/preferred_email_format",
            "/block_types/text_field",
            "/block_types/text_area",
            "/block_types/single_choice",
            "/block_types/multiple_choice",
            "/block_types/date",
            "/block_types/attachments"
          ]
        },
        "value": {
          "type": "string",
          "description": "The current value of this block, a JSON data structure unique to each block type (TBD)"
        },
        "entity_ids": {
          "type": "array",
          "description": "The IDs of entities this block is associated with, (e.g., content documents, response documents)",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "PatchOperation": {
      "id": "PatchOperation",
      "description": "A JSON Patch operation (see <a href=\"http://tools.ietf.org/html/rfc6902\" title=\"RFC6902 - JSON Patch\">RFC6902</a> and <a href=\"http://jsonapi.org/format/#updating-a-document\" title=\"JSON API - Updating a Document\">JSON API</a>)",
      "required": [
        "op",
        "path"
      ],
      "properties": {
        "op": {
          "type": "string",
          "description": "The operation to perform",
          "enum": [
            "add",
            "remove",
            "replace",
            "move",
            "copy",
            "test"
          ]
        },
        "path": {
          "type": "string",
          "description": "A JSON Pointer value (see <a href=\"http://tools.ietf.org/html/rfc6901\" title=\"RFC6901 - JSON Pointer\">RFC6901</a>) referencing a location within the target document where the operation is to be performed"
        },
        "value": {
          "type": "string",
          "description": "The value to patch"
        },
        "from": {
          "type": "string",
          "description": "A JSON Pointer value (see <a href=\"http://tools.ietf.org/html/rfc6901\" title=\"RFC6901 - JSON Pointer\">RFC6901</a>) referencing a location within the target document to move or copy"
        }
      }
    },
    "PatchOperations": {
      "id": "PatchOperations",
      "description": "The representation of requested modifications to an entity on the stori.es platform",
      "required": [
        "operations"
      ],
      "properties": {
        "operations": {
          "type": "array",
          "description": "The set of operations composing requested modifications to a target entity",
          "items": {
            "$ref": "#/definitions/PatchOperation"
          }
        }
      }
    }
  }
}
