{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "stori.es API",
    "description": "The stori.es API provides a programmatic interface to the stori.es platform.",
    "contact": {
      "name": "API Support",
      "email": "info@stori.es",
      "url": "http://www.stori.es/support"
    },
    "license": {
      "name": "stori.es Software as a Service Agreement",
      "url": "http://www.stori.es/software-as-a-service-agreement"
    },
    "termsOfService": "http://www.stori.es/terms-of-service"
  },
  "host": "stori.es",
  "basePath": "/api",
  "schemes": [
    "https"
  ],
  "paths": {
    "/contents": {
      "post": {
        "summary": "Create a new content document",
        "description": "",
        "responses": {
          "201": {
            "description": "Resource successfully created",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          },
          "400": {
            "description": "Invalid input",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          },
          "401": {
            "description": "Not authorized to create the requested resource",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          },
          "503": {
            "description": "Service is currently unavailable",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          }
        },
        "operationId": "create_content",
        "consumes": [
          "application/vnd.api+json"
        ],
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [
          {
            "in": "body",
            "description": "The new content document to be created",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ContentPost"
            }
          }
        ]
      }
    },
    "/contents/{content_id}": {
      "get": {
        "summary": "Retrieve a specific content document",
        "description": "",
        "responses": {
          "200": {
            "description": "Resource successfully retrieved",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          },
          "401": {
            "description": "Not authorized to access the requested resource",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          },
          "404": {
            "description": "Resource not found",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          },
          "503": {
            "description": "Service is currently unavailable",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          }
        },
        "operationId": "get_content",
        "consumes": [
          "application/vnd.api+json"
        ],
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [
          {
            "in": "path",
            "description": "The ID of the content document to retrieve",
            "name": "content_id",
            "required": true,
            "type": "string"
          }
        ]
      },
      "delete": {
        "summary": "Delete a content document",
        "description": "",
        "responses": {
          "204": {
            "description": "Resource successfully deleted",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          },
          "401": {
            "description": "Not authorized to delete the requested resource",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          },
          "404": {
            "description": "Resource not found",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          },
          "503": {
            "description": "Service is currently unavailable",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          }
        },
        "operationId": "delete_content",
        "consumes": [
          "application/vnd.api+json"
        ],
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [
          {
            "in": "path",
            "description": "The ID of the content document to delete",
            "name": "content_id",
            "required": true,
            "type": "string"
          }
        ]
      },
      "patch": {
        "summary": "Update a content document",
        "description": "",
        "responses": {
          "200": {
            "description": "Resource successfully updated",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          },
          "400": {
            "description": "Invalid input",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          },
          "401": {
            "description": "Not authorized to update the requested resource",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          },
          "404": {
            "description": "Resource not found",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          },
          "503": {
            "description": "Service is currently unavailable",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          }
        },
        "operationId": "update_content",
        "consumes": [
          "application/vnd.api+json"
        ],
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [
          {
            "in": "path",
            "description": "The ID of the content document to update",
            "name": "content_id",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "description": "Requested modifications in JSON Patch format (see <a href=\"http://tools.ietf.org/html/rfc6902\" title=\"RFC6902 - JSON Patch\">RFC6902</a> and <a href=\"http://jsonapi.org/format/#updating-a-document\" title=\"JSON API - Updating a Document (PATCH)\">JSON API</a>)",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PatchOperations"
            }
          }
        ]
      }
    }
  },
  "definitions": {
    "Sort": {
      "id": "Sort",
      "description": "Sort order details indexed by resource name",
      "required": [
        "contents"
      ],
      "properties": {
        "contents": {
          "type": "array",
          "description": "Sort order for content document resources",
          "uniqueItems": true,
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Navigation": {
      "id": "Navigation",
      "description": "Navigation details for this response",
      "properties": {
        "first": {
          "type": "string",
          "description": "URL for first set of results"
        },
        "prev": {
          "type": "string",
          "description": "URL for previous set of results"
        },
        "next": {
          "type": "string",
          "description": "URL for next set of results"
        },
        "last": {
          "type": "string",
          "description": "URL for last set of results"
        }
      }
    },
    "Pagination": {
      "id": "Pagination",
      "description": "Pagination details for this response",
      "properties": {
        "limit": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum number of results to return (default = 8, maximum = 50)",
          "minimum": 1,
          "maximum": 50,
          "default": 8
        },
        "offset": {
          "type": "integer",
          "format": "int32",
          "description": "Starting index, 0-based (default = 0)",
          "minimum": 0,
          "defaultValue": 0
        },
        "sort": {
          "description": "Sort order, indexed by resource",
          "$ref": "#/definitions/Sort"
        },
        "navigation": {
          "description": "Navigation details for this response",
          "$ref": "#/definitions/Navigation"
        }
      }
    },
    "Message": {
      "id": "Message",
      "description": "A message generated by a request",
      "required": [
        "summary",
        "message_code"
      ],
      "properties": {
        "target": {
          "type": "string",
          "description": "Target of this message (field, object, etc.)"
        },
        "summary": {
          "type": "string",
          "description": "Message summary"
        },
        "message_code": {
          "type": "string",
          "description": "stori.es internal message code"
        },
        "detail_url": {
          "type": "string",
          "description": "URL for message details"
        }
      }
    },
    "Metadata": {
      "id": "Metadata",
      "description": "Metadata about this response",
      "required": [
        "self",
        "http_code",
        "status"
      ],
      "properties": {
        "self": {
          "type": "string",
          "description": "Full request URL"
        },
        "status": {
          "type": "string",
          "description": "High-level status of response",
          "enum": [
            "success",
            "fail",
            "error"
          ]
        },
        "http_code": {
          "type": "integer",
          "description": "HTTP response status code"
        },
        "messages": {
          "type": "array",
          "description": "Array of messages generated by request",
          "items": {
            "$ref": "#/definitions/Message"
          }
        },
        "pagination": {
          "$ref": "#/definitions/Pagination",
          "description": "Pagination details for this response"
        }
      }
    },
    "ResourceLink": {
      "id": "ResourceLink",
      "description": "Metadata describing a resource",
      "required": [
        "href"
      ],
      "properties": {
        "href": {
          "type": "string",
          "description": "The URL of the resource"
        }
      }
    },
    "ResourceLinks": {
      "id": "ResourceLinks",
      "description": "Metadata describing associated resources",
      "required": [
        "entity",
        "theme",
        "blocks",
        "creator",
        "owner"
      ],
      "properties": {
        "entity": {
          "$ref": "#/definitions/ResourceLink",
          "description": "Metadata describing the entity this document is associated with"
        },
        "theme": {
          "$ref": "#/definitions/ResourceLink",
          "description": "Metadata describing the theme associated with this entity"
        },
        "blocks": {
          "type": "array",
          "description": "Metadata describing blocks that compose this document",
          "items": {
            "$ref": "#/definitions/ResourceLink"
          }
        },
        "permission": {
          "$ref": "#/definitions/ResourceLink",
          "description": "Metadata describing the permission associated with this entity"
        },
        "creator": {
          "$ref": "#/definitions/ResourceLink",
          "description": "Metadata describing the creator of this entity"
        },
        "owner": {
          "$ref": "#/definitions/ResourceLink",
          "description": "Metadata describing the owner of this entity"
        },
        "administrators": {
          "type": "array",
          "description": "Metadata describing the administrators of this entity",
          "items": {
            "$ref": "#/definitions/ResourceLink"
          }
        }
      }
    },
    "Content": {
      "id": "Content",
      "description": "The representation of a content document on the stori.es platform",
      "required": [
        "id",
        "path_segment",
        "permalink",
        "byline",
        "links",
        "created_on",
        "updated_on",
        "publication_status"
      ],
      "properties": {
        "id": {
          "type": "string",
          "description": "The unique ID for this entity; format: /contents/[content path segment]"
        },
        "path_segment": {
          "type": "string",
          "description": "The URL path segment uniquely identifying this content document; defaults to URL-encoded content title; generated if undefined"
        },
        "permalink": {
          "type": "string",
          "description": "The fully-qualified URL of the published document; incorporates the path segment"
        },
        "title": {
          "type": "string",
          "description": "The title of this entity"
        },
        "byline": {
          "type": "string",
          "description": "The byline of this entity; defaults to [Profile Given Name] of [Profile City], [Profile State]"
        },
        "links": {
          "$ref": "#/definitions/ResourceLinks",
          "description": "Metadata describing resources associated with this entity"
        },
        "created_on": {
          "type": "string",
          "format": "date-time",
          "description": "The creation date and time for this entity, normalized to UTC (see [RFC3339](http://tools.ietf.org/html/rfc3339))"
        },
        "updated_on": {
          "type": "string",
          "format": "date-time",
          "description": "The most recent modification date and time for this entity, normalized to UTC (see [RFC3339](http://tools.ietf.org/html/rfc3339))"
        },
        "publication_status": {
          "type": "string",
          "description": "The current publication status of this entity",
          "enum": [
            "draft",
            "published"
          ]
        },
        "published_on": {
          "type": "string",
          "format": "date-time",
          "description": "The initial publication date and time for this entity, normalized to UTC (see [RFC3339](http://tools.ietf.org/html/rfc3339))"
        }
      }
    },
    "ApiResponse": {
      "id": "ApiResponse",
      "description": "The standard API response format for the stori.es platform; follows the [JSON API](http://jsonapi.org) standard",
      "required": [
        "meta",
        "contents"
      ],
      "properties": {
        "meta": {
          "$ref": "#/definitions/Metadata",
          "description": "Metadata describing this response"
        },
        "contents": {
          "type": "array",
          "description": "Array of requested content document resources",
          "items": {
            "$ref": "#/definitions/Content"
          }
        }
      }
    },
    "ContentPost": {
      "id": "ContentPost",
      "description": "The representation of a new content document to be added to the stori.es platform",
      "properties": {
        "path_segment": {
          "type": "string",
          "description": "The URL path segment uniquely identifying this content document; defaults to URL-encoded content title; generated if undefined"
        },
        "title": {
          "type": "string",
          "description": "The title of this entity"
        },
        "byline": {
          "type": "string",
          "description": "The byline of this entity; defaults to [Profile Given Name] of [Profile City], [Profile State]"
        },
        "entity_id": {
          "type": "string",
          "description": "The ID of the entity this document is associated with"
        },
        "theme_id": {
          "type": "string",
          "description": "The ID of the theme associated with this entity"
        },
        "permission_id": {
          "type": "string",
          "description": "The ID of the permission associated with this entity"
        }
      }
    },
    "PatchOperation": {
      "id": "PatchOperation",
      "description": "A JSON Patch operation (see <a href=\"http://tools.ietf.org/html/rfc6902\" title=\"RFC6902 - JSON Patch\">RFC6902</a> and <a href=\"http://jsonapi.org/format/#updating-a-document\" title=\"JSON API - Updating a Document\">JSON API</a>)",
      "required": [
        "op",
        "path"
      ],
      "properties": {
        "op": {
          "type": "string",
          "description": "The operation to perform",
          "enum": [
            "add",
            "remove",
            "replace",
            "move",
            "copy",
            "test"
          ]
        },
        "path": {
          "type": "string",
          "description": "A JSON Pointer value (see <a href=\"http://tools.ietf.org/html/rfc6901\" title=\"RFC6901 - JSON Pointer\">RFC6901</a>) referencing a location within the target document where the operation is to be performed"
        },
        "value": {
          "type": "string",
          "description": "The value to patch"
        },
        "from": {
          "type": "string",
          "description": "A JSON Pointer value (see <a href=\"http://tools.ietf.org/html/rfc6901\" title=\"RFC6901 - JSON Pointer\">RFC6901</a>) referencing a location within the target document to move or copy"
        }
      }
    },
    "PatchOperations": {
      "id": "PatchOperations",
      "description": "The representation of requested modifications to an entity on the stori.es platform",
      "required": [
        "operations"
      ],
      "properties": {
        "operations": {
          "type": "array",
          "description": "The set of operations composing requested modifications to a target entity",
          "items": {
            "$ref": "#/definitions/PatchOperation"
          }
        }
      }
    }
  }
}
