{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "stori.es API",
    "description": "The stori.es API provides a programmatic interface to the stori.es platform.",
    "contact": {
      "name": "API Support",
      "email": "info@stori.es",
      "url": "http://www.stori.es/support"
    },
    "license": {
      "name": "stori.es Software as a Service Agreement",
      "url": "http://www.stori.es/software-as-a-service-agreement"
    },
    "termsOfService": "http://www.stori.es/terms-of-service"
  },
  "host": "stori.es",
  "basePath": "/api",
  "schemes": [
    "https"
  ],
  "paths": {
    "/profiles": {
      "post": {
        "summary": "Create a new profile",
        "description": "",
        "operationId": "create_profile",
        "consumes": [
          "application/vnd.api+json"
        ],
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [
          {
            "in": "body",
            "description": "The new profile to be created",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProfilePost"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Resource successfully created",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          },
          "400": {
            "description": "Invalid input",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          },
          "401": {
            "description": "Not authorized to create the requested resource",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          },
          "503": {
            "description": "Service is currently unavailable",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          }
        }
      }
    },
    "/profiles/{profile_id}": {
      "get": {
        "summary": "Retrieve a specific profile",
        "description": "",
        "operationId": "get_profile",
        "consumes": [
          "application/vnd.api+json"
        ],
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [
          {
            "in": "path",
            "description": "The ID of the profile to retrieve",
            "name": "profile_id",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource successfully retrieved",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          },
          "401": {
            "description": "Not authorized to access the requested resource",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          },
          "404": {
            "description": "Resource not found",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          },
          "503": {
            "description": "Service is currently unavailable",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a profile",
        "description": "",
        "operationId": "delete_profile",
        "consumes": [
          "application/vnd.api+json"
        ],
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [
          {
            "in": "path",
            "description": "The ID of the profile to delete",
            "name": "profile_id",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "204": {
            "description": "Resource successfully deleted",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          },
          "400": {
            "description": "Invalid input",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          },
          "401": {
            "description": "Not authorized to delete the requested resource",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          },
          "404": {
            "description": "Resource not found",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          },
          "503": {
            "description": "Service is currently unavailable",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          }
        }
      },
      "put": {
        "summary": "Update a profile",
        "description": "",
        "operationId": "update_profile",
        "consumes": [
          "application/vnd.api+json"
        ],
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [
          {
            "in": "path",
            "description": "The ID of the profile to update",
            "name": "profile_id",
            "required": true,
            "type": "integer"
          },
          {
            "in": "body",
            "name": "body",
            "description": "The modified profile",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Profile"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource successfully updated",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          },
          "401": {
            "description": "Not authorized to update the requested resource",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          },
          "404": {
            "description": "Resource not found",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          },
          "503": {
            "description": "Service is currently unavailable",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Sort": {
      "id": "Sort",
      "description": "Sort order details indexed by resource name",
      "required": [
        "profiles"
      ],
      "properties": {
        "profiles": {
          "type": "array",
          "description": "Sort order for profile resources",
          "uniqueItems": true,
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Navigation": {
      "id": "Navigation",
      "description": "Navigation details for this response",
      "properties": {
        "first": {
          "type": "string",
          "description": "URL for first set of results"
        },
        "prev": {
          "type": "string",
          "description": "URL for previous set of results"
        },
        "next": {
          "type": "string",
          "description": "URL for next set of results"
        },
        "last": {
          "type": "string",
          "description": "URL for last set of results"
        }
      }
    },
    "Pagination": {
      "id": "Pagination",
      "description": "Pagination details for this response",
      "properties": {
        "limit": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum number of results to return (default = 8, maximum = 50)",
          "minimum": 1,
          "maximum": 50,
          "default": 8
        },
        "offset": {
          "type": "integer",
          "format": "int32",
          "description": "Starting index, 0-based (default = 0)",
          "minimum": 0,
          "defaultValue": 0
        },
        "sort": {
          "description": "Sort order, indexed by resource",
          "$ref": "#/definitions/Sort"
        },
        "navigation": {
          "description": "Navigation details for this response",
          "$ref": "#/definitions/Navigation"
        }
      }
    },
    "Message": {
      "id": "Message",
      "description": "A message generated by a request",
      "required": [
        "summary",
        "message_code"
      ],
      "properties": {
        "target": {
          "type": "string",
          "description": "Target of this message (field, object, etc.)"
        },
        "summary": {
          "type": "string",
          "description": "Message summary"
        },
        "message_code": {
          "type": "string",
          "description": "stori.es internal message code"
        },
        "detail_url": {
          "type": "string",
          "description": "URL for message details"
        }
      }
    },
    "Metadata": {
      "id": "Metadata",
      "description": "Metadata about this response",
      "required": [
        "self",
        "http_code",
        "status"
      ],
      "properties": {
        "self": {
          "type": "string",
          "description": "Full request URL"
        },
        "status": {
          "type": "string",
          "description": "High-level status of response",
          "enum": [
            "success",
            "fail",
            "error"
          ]
        },
        "http_code": {
          "type": "integer",
          "description": "HTTP response status code"
        },
        "messages": {
          "type": "array",
          "description": "Array of messages generated by request",
          "items": {
            "$ref": "#/definitions/Message"
          }
        },
        "pagination": {
          "$ref": "#/definitions/Pagination",
          "description": "Pagination details for this response"
        }
      }
    },
    "Geolocation": {
      "id": "Geolocation",
      "description": "Properties for geolocation contacts",
      "properties": {
        "street_address_1": {
          "type": "string",
          "description": "Street address (first line)"
        },
        "street_address_2": {
          "type": "string",
          "description": "Street address (second line)"
        },
        "city": {
          "type": "string",
          "description": "City"
        },
        "state": {
          "type": "string",
          "description": "State"
        },
        "country": {
          "type": "string",
          "description": "Country"
        },
        "postal_code": {
          "type": "string",
          "description": "Postal Code"
        },
        "latitude": {
          "type": "string",
          "description": "Latitude"
        },
        "longitude": {
          "type": "string",
          "description": "Longitude"
        }
      }
    },
    "Contact": {
      "id": "Contact",
      "description": "The representation of a contact associated with this entity",
      "required": [
        "contact_type",
        "title"
      ],
      "properties": {
        "contact_type": {
          "type": "string",
          "description": "The type of contact",
          "enum": [
            "/contact_types/email",
            "/contact_types/phone",
            "/contact_types/geolocation",
            "/contact_types/social"
          ]
        },
        "title": {
          "type": "string",
          "description": "The title of this contact"
        },
        "value": {
          "type": "string",
          "description": "The value of this contact"
        },
        "geolocation": {
          "$ref": "#/definitions/Geolocation",
          "description": "Properties for geolocation contacts"
        }
      }
    },
    "ResourceLink": {
      "id": "ResourceLink",
      "description": "Metadata describing a resource",
      "required": [
        "href"
      ],
      "properties": {
        "href": {
          "type": "string",
          "description": "The URL of the resource"
        }
      }
    },
    "ResourceLinks": {
      "id": "ResourceLinks",
      "description": "Metadata describing associated resources",
      "required": [
        "organization",
        "creator",
        "owner"
      ],
      "properties": {
        "organization": {
          "$ref": "#/definitions/ResourceLink",
          "description": "The organization this user profile is associated with"
        },
        "user": {
          "$ref": "#/definitions/ResourceLink",
          "description": "The user this organization-specific profile is associated with"
        },
        "stories": {
          "type": "array",
          "description": "Metadata describing stories associated with this entity",
          "items": {
            "$ref": "#/definitions/ResourceLink"
          }
        },
        "notes": {
          "type": "array",
          "description": "Metadata describing note documents associated with this entity",
          "items": {
            "$ref": "#/definitions/ResourceLink"
          }
        },
        "creator": {
          "$ref": "#/definitions/ResourceLink",
          "description": "Metadata describing the creator of this entity"
        },
        "owner": {
          "$ref": "#/definitions/ResourceLink",
          "description": "Metadata describing the owner of this entity"
        },
        "administrators": {
          "type": "array",
          "description": "Metadata describing the administrators of this entity",
          "items": {
            "$ref": "#/definitions/ResourceLink"
          }
        }
      }
    },
    "Profile": {
      "id": "Profile",
      "description": "The representation of a profile on the stori.es platform",
      "required": [
        "id",
        "links",
        "created_on",
        "updated_on"
      ],
      "properties": {
        "id": {
          "type": "integer",
          "description": "The unique ID for this entity"
        },
        "given_name": {
          "type": "string",
          "description": "The first name associated with this profile",
          "maximum": 255
        },
        "surname": {
          "type": "string",
          "description": "The last name associated with this profile",
          "maximum": 255
        },
        "contacts": {
          "type": "array",
          "description": "Contacts associated with this entity",
          "items": {
            "$ref": "#/definitions/Contact"
          }
        },
        "links": {
          "$ref": "#/definitions/ResourceLinks",
          "description": "Metadata describing resources associated with this entity"
        },
        "created_on": {
          "type": "string",
          "format": "date-time",
          "description": "The creation date and time for this entity, normalized to UTC (see [RFC3339](http://tools.ietf.org/html/rfc3339))"
        },
        "updated_on": {
          "type": "string",
          "format": "date-time",
          "description": "The most recent modification date and time for this entity, normalized to UTC (see [RFC3339](http://tools.ietf.org/html/rfc3339))"
        }
      }
    },
    "ApiResponse": {
      "id": "ApiResponse",
      "description": "The standard API response format for the stori.es platform; follows the [JSON API](http://jsonapi.org) standard",
      "required": [
        "meta",
        "profiles"
      ],
      "properties": {
        "meta": {
          "$ref": "#/definitions/Metadata",
          "description": "Metadata describing this response"
        },
        "profiles": {
          "type": "array",
          "description": "Array of requested profile resources",
          "items": {
            "$ref": "#/definitions/Profile"
          }
        }
      }
    },
    "ProfilePost": {
      "id": "ProfilePost",
      "description": "The representation of a new profile to be added to the stori.es platform",
      "required": [
        "organization_id"
      ],
      "properties": {
        "organization_id": {
          "type": "integer",
          "description": "The ID of the organization associated with this entity"
        },
        "user_id": {
          "type": "integer",
          "description": "The ID of the user associated with this entity"
        },
        "given_name": {
          "type": "string",
          "description": "The first name associated with this profile",
          "maximum": 255
        },
        "surname": {
          "type": "string",
          "description": "The last name associated with this profile",
          "maximum": 255
        },
        "contacts": {
          "type": "array",
          "description": "Contacts associated with this entity",
          "items": {
            "$ref": "#/definitions/Contact"
          }
        },
        "story_ids": {
          "type": "array",
          "description": "The IDs of stories associated with this entity",
          "items": {
            "type": "integer"
          }
        }
      }
    }
  }
}
