{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "stori.es API",
    "description": "The stori.es API provides a programmatic interface to the stori.es platform.",
    "contact": {
      "name": "API Support",
      "email": "info@stori.es",
      "url": "http://www.stori.es/support"
    },
    "license": {
      "name": "stori.es Software as a Service Agreement",
      "url": "http://www.stori.es/software-as-a-service-agreement"
    },
    "termsOfService": "http://www.stori.es/terms-of-service"
  },
  "host": "stori.es",
  "basePath": "/api",
  "schemes": [
    "https"
  ],
  "paths": {
    "/responses": {
      "post": {
        "summary": "Create a new response document",
        "description": "",
        "responses": {
          "201": {
            "description": "Resource successfully created",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          },
          "400": {
            "description": "Invalid input",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          },
          "401": {
            "description": "Not authorized to create the requested resource",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          },
          "503": {
            "description": "Service is currently unavailable",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          }
        },
        "operationId": "create_response",
        "consumes": [
          "application/vnd.api+json"
        ],
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [
          {
            "in": "body",
            "description": "The new response document to be created",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ResponsePost"
            }
          }
        ]
      }
    },
    "/responses/{response_id}": {
      "get": {
        "summary": "Retrieve a specific response document",
        "description": "",
        "responses": {
          "200": {
            "description": "Resource successfully retrieved",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          },
          "401": {
            "description": "Not authorized to access the requested resource",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          },
          "404": {
            "description": "Resource not found",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          },
          "503": {
            "description": "Service is currently unavailable",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          }
        },
        "operationId": "get_response",
        "consumes": [
          "application/vnd.api+json"
        ],
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [
          {
            "in": "path",
            "description": "The ID of the response document to retrieve",
            "name": "response_id",
            "required": true,
            "type": "string"
          }
        ]
      },
      "delete": {
        "summary": "Deletes a response document",
        "description": "",
        "responses": {
          "204": {
            "description": "Resource successfully deleted",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          },
          "401": {
            "description": "Not authorized to delete the requested resource",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          },
          "404": {
            "description": "Resource not found",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          },
          "503": {
            "description": "Service is currently unavailable",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          }
        },
        "operationId": "delete_response",
        "consumes": [
          "application/vnd.api+json"
        ],
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [
          {
            "in": "path",
            "description": "The ID of the response document to delete",
            "name": "response_id",
            "required": true,
            "type": "string"
          }
        ]
      },
      "patch": {
        "summary": "Updates a response document",
        "description": "",
        "responses": {
          "200": {
            "description": "Resource successfully updated",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          },
          "400": {
            "description": "Invalid input",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          },
          "401": {
            "description": "Not authorized to update the requested resource",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          },
          "404": {
            "description": "Resource not found",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          },
          "503": {
            "description": "Service is currently unavailable",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          }
        },
        "operationId": "update_response",
        "consumes": [
          "application/vnd.api+json"
        ],
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [
          {
            "in": "path",
            "description": "The ID of the response document to update",
            "name": "response_id",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "description": "Requested modifications in JSON Patch format (see <a href=\"http://tools.ietf.org/html/rfc6902\" title=\"RFC6902 - JSON Patch\">RFC6902</a> and <a href=\"http://jsonapi.org/format/#updating-a-document\" title=\"JSON API - Updating a Document (PATCH)\">JSON API</a>)",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PatchOperations"
            }
          }
        ]
      }
    }
  },
  "definitions": {
    "Sort": {
      "id": "Sort",
      "description": "Sort order details indexed by resource name",
      "required": [
        "responses"
      ],
      "properties": {
        "responses": {
          "type": "array",
          "description": "Sort order for response document resources",
          "uniqueItems": true,
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Navigation": {
      "id": "Navigation",
      "description": "Navigation details for this response",
      "properties": {
        "first": {
          "type": "string",
          "description": "URL for first set of results"
        },
        "prev": {
          "type": "string",
          "description": "URL for previous set of results"
        },
        "next": {
          "type": "string",
          "description": "URL for next set of results"
        },
        "last": {
          "type": "string",
          "description": "URL for last set of results"
        }
      }
    },
    "Pagination": {
      "id": "Pagination",
      "description": "Pagination details for this response",
      "properties": {
        "limit": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum number of results to return (default = 8, maximum = 50)",
          "minimum": 1,
          "maximum": 50,
          "default": 8
        },
        "offset": {
          "type": "integer",
          "format": "int32",
          "description": "Starting index, 0-based (default = 0)",
          "minimum": 0,
          "defaultValue": 0
        },
        "sort": {
          "description": "Sort order, indexed by resource",
          "$ref": "#/definitions/Sort"
        },
        "navigation": {
          "description": "Navigation details for this response",
          "$ref": "#/definitions/Navigation"
        }
      }
    },
    "Message": {
      "id": "Message",
      "description": "A message generated by a request",
      "required": [
        "summary",
        "message_code"
      ],
      "properties": {
        "target": {
          "type": "string",
          "description": "Target of this message (field, object, etc.)"
        },
        "summary": {
          "type": "string",
          "description": "Message summary"
        },
        "message_code": {
          "type": "string",
          "description": "stori.es internal message code"
        },
        "detail_url": {
          "type": "string",
          "description": "URL for message details"
        }
      }
    },
    "Metadata": {
      "id": "Metadata",
      "description": "Metadata about this response",
      "required": [
        "self",
        "http_code",
        "status"
      ],
      "properties": {
        "self": {
          "type": "string",
          "description": "Full request URL"
        },
        "status": {
          "type": "string",
          "description": "High-level status of response",
          "enum": [
            "success",
            "fail",
            "error"
          ]
        },
        "http_code": {
          "type": "integer",
          "description": "HTTP response status code"
        },
        "messages": {
          "type": "array",
          "description": "Array of messages generated by request",
          "items": {
            "$ref": "#/definitions/Message"
          }
        },
        "pagination": {
          "$ref": "#/definitions/Pagination",
          "description": "Pagination details for this response"
        }
      }
    },
    "ResourceLink": {
      "id": "ResourceLink",
      "description": "Metadata describing a resource",
      "required": [
        "href"
      ],
      "properties": {
        "href": {
          "type": "string",
          "description": "The URL of the resource"
        }
      }
    },
    "ResourceLinks": {
      "id": "ResourceLinks",
      "description": "Metadata describing associated resources",
      "required": [
        "story",
        "questionnaire",
        "theme",
        "blocks",
        "permission",
        "creator",
        "owner"
      ],
      "properties": {
        "story": {
          "$ref": "#/definitions/ResourceLink",
          "description": "Metadata describing the story containing this response document"
        },
        "questionnaire": {
          "$ref": "#/definitions/ResourceLink",
          "description": "Metadata describing the questionnaire this document is a response to"
        },
        "theme": {
          "$ref": "#/definitions/ResourceLink",
          "description": "Metadata describing the theme associated with this entity"
        },
        "blocks": {
          "type": "array",
          "description": "Metadata describing blocks that compose this document",
          "items": {
            "$ref": "#/definitions/ResourceLink"
          }
        },
        "permission": {
          "$ref": "#/definitions/ResourceLink",
          "description": "Metadata describing the permission associated with this entity"
        },
        "creator": {
          "$ref": "#/definitions/ResourceLink",
          "description": "Metadata describing the creator of this entity"
        },
        "owner": {
          "$ref": "#/definitions/ResourceLink",
          "description": "Metadata describing the owner of this entity"
        },
        "administrators": {
          "type": "array",
          "description": "Metadata describing the administrators of this entity",
          "items": {
            "$ref": "#/definitions/ResourceLink"
          }
        }
      }
    },
    "Response": {
      "id": "Response",
      "description": "The representation of a response document on the stori.es platform",
      "required": [
        "id",
        "links",
        "created_on",
        "updated_on"
      ],
      "properties": {
        "id": {
          "type": "integer",
          "description": "The unique ID for this entity"
        },
        "title": {
          "type": "string",
          "description": "The title of this entity"
        },
        "links": {
          "$ref": "#/definitions/ResourceLinks",
          "description": "Metadata describing resources associated with this entity"
        },
        "created_on": {
          "type": "string",
          "format": "date-time",
          "description": "The creation date and time for this entity, normalized to UTC (see [RFC3339](http://tools.ietf.org/html/rfc3339))"
        },
        "updated_on": {
          "type": "string",
          "format": "date-time",
          "description": "The most recent modification date and time for this entity, normalized to UTC (see [RFC3339](http://tools.ietf.org/html/rfc3339))"
        }
      }
    },
    "ApiResponse": {
      "id": "ApiResponse",
      "description": "The standard API response format for the stori.es platform; follows the [JSON API](http://jsonapi.org) standard",
      "required": [
        "meta",
        "responses"
      ],
      "properties": {
        "meta": {
          "$ref": "#/definitions/Metadata",
          "description": "Metadata describing this response"
        },
        "responses": {
          "type": "array",
          "description": "Array of requested response document resources",
          "items": {
            "$ref": "#/definitions/Response"
          }
        }
      }
    },
    "ResponsePost": {
      "id": "ResponsePost",
      "description": "The representation of a new response document to be added to the stori.es platform",
      "required": [
        "story_id",
        "questionnaire_id"
      ],
      "properties": {
        "title": {
          "type": "string",
          "description": "The title of this entity"
        },
        "story_id": {
          "type": "string",
          "description": "The ID of the story containing this response document"
        },
        "questionnaire_id": {
          "type": "string",
          "description": "The ID of the questionnaire this document is a response to"
        }
      }
    },
    "PatchOperation": {
      "id": "PatchOperation",
      "description": "A JSON Patch operation (see <a href=\"http://tools.ietf.org/html/rfc6902\" title=\"RFC6902 - JSON Patch\">RFC6902</a> and <a href=\"http://jsonapi.org/format/#updating-a-document\" title=\"JSON API - Updating a Document\">JSON API</a>)",
      "required": [
        "op",
        "path"
      ],
      "properties": {
        "op": {
          "type": "string",
          "description": "The operation to perform",
          "enum": [
            "add",
            "remove",
            "replace",
            "move",
            "copy",
            "test"
          ]
        },
        "path": {
          "type": "string",
          "description": "A JSON Pointer value (see <a href=\"http://tools.ietf.org/html/rfc6901\" title=\"RFC6901 - JSON Pointer\">RFC6901</a>) referencing a location within the target document where the operation is to be performed"
        },
        "value": {
          "type": "string",
          "description": "The value to patch"
        },
        "from": {
          "type": "string",
          "description": "A JSON Pointer value (see <a href=\"http://tools.ietf.org/html/rfc6901\" title=\"RFC6901 - JSON Pointer\">RFC6901</a>) referencing a location within the target document to move or copy"
        }
      }
    },
    "PatchOperations": {
      "id": "PatchOperations",
      "description": "The representation of requested modifications to an entity on the stori.es platform",
      "required": [
        "operations"
      ],
      "properties": {
        "operations": {
          "type": "array",
          "description": "The set of operations composing requested modifications to a target entity",
          "items": {
            "$ref": "#/definitions/PatchOperation"
          }
        }
      }
    }
  }
}
